@(f: Form[_])

@import helper._
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

<h4>Choose a password</h4>
@inputPassword(
f("password"),
'_label -> " ",
'_class -> "search-field"
)

<h4>Repeat chosen password</h4>
@inputPassword(
f("repeatPassword"),
'_label -> " ",
'_class -> "search-field",
'_showConstraints -> false,
'_error -> f.error("password")
)
