@import service.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, loginForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }
@import com.feth.play.module.pa.views.html._

@main(userProvider, "UniCarb-DR Login"){

<div class="container-fluid content">
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-download" ></i> Login<span class="divider"></span></li>
    </ul>


    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Login</h1>
            </div>
            <p>Fill in information below</p>

            <div class="col-xs-6 col-sm-4">
                @* Display proprietary login form *@
                @helper.form(routes.HomeController.doLogin, 'class -> "form-horizontal", 'role -> "form") {

                @if(loginForm.hasGlobalErrors) {
                <p class="alert alert-danger">
                    @loginForm.globalError.message
                </p>
                }


                @_emailPartial(loginForm)

                <h4>Password</h4>
                @inputPassword(
                    loginForm("password"),
                    '_showConstraints -> false,
                    '_label -> "",
                    '_class -> "search-field"
                )


                <div class="row-fluid">
                    @b3.free(){
                    <!--                            <div class="g-recaptcha" data-sitekey="@play.Play.application().configuration().getString("play-authenticate.gcaptcha.gsiteKey")"></div>-->
                    <br />
                    <button type="submit" class="btn btn-primary">Login now</button>
                    }
                </div>

                }
                <br><br>
                @b3.form(routes.Signup.doForgotPassword) {
                    @b3.free(){
                        <input type="submit" value="Forgot your password?" class="btn btn-primary u-form-group">
                    }
                }

            </div>


        </div>
    </div>
</div>



}
