@import service.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, localUser: models.User = null)

@import com.feth.play.module.pa.views.html._

@main(userProvider, "UniCarb-DB Profile"){


<div class="container-fluid content">
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarb-DB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-download" ></i> Profile<span class="divider"></span></li>
    </ul>

    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Your UniCarb-DB profile</h1>
            </div>

            <p>
                Your name is @localUser.name and your email address is @if(!localUser.email) {<em>&lt;unknown&gt;</em>.} else {
                @localUser.email.
                <i>
                    @if(!localUser.emailValidated && localUser.email) {
                    (<a href="@routes.Account.verifyEmail">unverified - click to verify</a>)
                    } else {
                    (verified)
                    }</i>
                }
                <br />
                @if(localUser.firstName && localUser.lastName) {
                    Your first name is @localUser.firstName and your last name is @localUser.lastName
                <br/>
                }
                @defining(localUser.getProviders()) { providers =>
                    @if(providers.size() > 0) {
                        @if(providers.size() ==1) {
                            There is one provider linked with your account:
                        } else {
                            There are {0} providers linked with your account: @providers.size().toString()
                        }
                        @for(p <- providers) {
                            @_providerIcon(p)
                        }
                    <br/>
                    }
                }

                <br/>
                @currentAuth(playAuth) { auth =>
                     <br/>
                    @if(auth.expires() != -1){
                        Your user ID is @auth.getId() and your session will expire on @HomeController.formatTimestamp(auth.expires())
                    } else {
                        Your user ID is  @auth.getId() and your session will not expire, as it is endless
                    }
                }
                <br/>
            </p>

<!--            <ul>
                <li><a href="@routes.Account.changePassword">@*Messages("playauthenticate.profile.password_change")*@</a></li>
            </ul>-->

        </div>
    </div>
</div>





}
