@import service.UserProvider
@(userProvider: UserProvider, localUser: models.User = null)

@main(userProvider, "UniCarb-DB restricted page"){

<h1>@Messages("playauthenticate.navigation.restricted")</h1>
<p>
    @Messages("playauthenticate.restricted.secrets")
</p>
}
