@import service.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

@main(userProvider, "UniCarb-DR Sign Up"){


@if(flash.containsKey("error")) {
<div class="error message">
    <h3>Restricted access</h3>
    <p>@flash.get("error")</p>
</div>
}



<div class="container-fluid content">
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-download" ></i> Sign up<span class="divider"></span></li>
    </ul>


    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Login</h1>
            </div>
            <div id="signup" class="row">


                <div class="col-xs-6 col-md-4">
                    @* Display proprietary login form *@
                    @helper.form(routes.HomeController.doSignup, 'class -> "form-horizontal", 'role -> "form") {

                        @if(signupForm.hasGlobalErrors) {
                        <p class="alert alert-danger">
                            @signupForm.globalError.message
                        </p>
                        }

                        <h4>Your name</h4>
                        @inputText(signupForm("name"), '_label -> " ", '_class -> "search-field")

                        @_emailPartial(signupForm)

                        @_passwordPartial(signupForm)


                    <div class="row-fluid">
                        @b3.free(){
                            <div><strong>Click in the square next to "I'm not a robot"</strong></div>
                            <!-- <div class="g-recaptcha" data-sitekey="@play.Play.application().configuration().getString("gcaptcha.gsiteKey")"></div> -->
                            <br />
                            <div class="g-recaptcha" data-callback="testCallback" data-sitekey="6LcMCKcUAAAAAF52QEmC9yCvUKH070BLV8fVTGhj"></div>
                            <!-- To make the confirmation button whether the user is human or robott, there may need to be inputed code. -->
                            <button id="submit" type="submit" class="btn btn-primary" disabled="disabled">Sign up now</button>
                        }
                    </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

}
