@(verificationUrl: String, token: String, name: String, email: String)

<div class="container-fluid content">
    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Verify E-mail</h1>
            </div>
                @name,
                <p>You recently signed up for Access to the submission tool of UniCarb-DB.<br />
                    <br />
                    Follow this link to <a href="@verificationUrl">activate your account</a> now.
                </p>
                <br />
                <p>
                    Cheers,<br />
                    <i>The UniCarb-DB team</i>
                </p>
        </div>
    </div>
</div>




