@import service.UserProvider
@(userProvider: UserProvider)
@main(userProvider, "Libraries UniCarb-DB"){

<script>
    $("#libLink").addClass("active");
</script>

<div class="container-fluid content">
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>
<!--        <li><i class="icon-home" ></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>-->
        <li class="active"><i class="icon-download" ></i> Downloads<span class="divider"></span></li>
    </ul>

    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">The UniCarb-DR library</h1>
            </div>
            <p>The first version of the UniCarb-DR library contains 1069 negative ion spectra (704 unique structures)</p>

            <p>You can download the library in either zip or tar formats. </p>
            <ul class='nav nav-pills nav-stacked clearfix'>
                <li>
                    <a href="@routes.Assets.versioned("library/UniCarbMSP.zip")">
                    Msp format (zip)
                    </a>
                    <a href="@routes.Assets.versioned("library/UniCarbMSP.msp.tar.gz")">
                    Msp format (tar)
                    </a>
                    <a href="@routes.Assets.versioned("library/UniCarbNIST.zip")">
                    NIST format (zip)
                    </a>
                    <a href="@routes.Assets.versioned("library/UniCarbNIST.tar.gz")">
                    NIST format (tar)
                    </a>

                </li>
            </ul>
            <p>Release date: 19-08-2016</p>


        </div>
    </div>
</div>

}
