@import src.TableFragment
@import service.{FormSample, FormMS}
@import helper._
@import collection.JavaConversions._
@(form: Form[_],tableFragment: TableFragment)
@import java.math.BigInteger; var counter=1





        <div class="separator"></div>
        <div class="table-fragment-@tableFragment.getName()-container" style="float: left">
            <div class="table-fragment-title-container">
            @for((f, i) <- tableFragment.getFields().zipWithIndex) {
                <div class="table-fragment-title table-fragment-@tableFragment.getName()-column@i">
                @f.getTitle()
                </div>
            }
            </div>
            <div class="separator"></div>
            <div class="table-fragment-@tableFragment.getName()-input-container">
            @for((f, i) <- tableFragment.getFields().zipWithIndex) {
                @if(f.getType() == 0) {
                    @inputText(form(f.getName() + "[0]"), '_value -> (f.getName() + "[0]"), 'id -> (f.getName() + "[0]"), '_label -> null, '_class -> ("table-fragment-input table-fragment-" + tableFragment.getName() + "-column" + i))

                }
                @if(f.getType() == 1) {
                    @select(form(f.getName() + "[0]"), options(f.getList()), '_label -> null, '_class -> ("table-fragment-input table-fragment-" + tableFragment.getName() + "-column" + i))
                }
            }
            </div>
            <div class="table-fragment-@tableFragment.getName()-add table-fragment-add btn-primary">+</div>
        </div>
        <div class="separator"></div>

<style>
    .separator{
        clear: both;
    }
    .table-fragment-container{
        margin-left: 20px;
        width: 1000px;
        clear: both;
    }
    .table-fragment-title-container{
        float: left;
    }
    .table-fragment-input-container{
        float: left;
    }
    .table-fragment-title{
        box-sizing: border-box;
        float: left;
        padding: 2px;
        padding-top: 20px;
        padding-bottom: 0px;
        width: 200px;
    }
    dd{
        margin-left: 0px;
        -webkit-margin-start: 0px;
    }
    dt label{
        visibility: hidden;
    }
    d1{
        margin: 0px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }
    .table-fragment-input{
        box-sizing: border-box;
        float: left;
        padding: 0px;
        margin: 0px;
    }
    .table-fragment-input input{
        box-sizing: border-box;
        float: left;
        margin: 0px;
        border: solid 1px #DDDDDD;
        height: 30px;
        text-indent: 0px;
        border-radius: 0px;
    }
    .table-fragment-input select{
        box-sizing: border-box;
        float: left;
        padding: 0px;
        margin: 0px;
        border: solid 1px #DDDDDD;
        height: 30px;
        text-indent: 0px;
        border-radius: 0px;
    }

    .table-fragment-add{
        box-sizing: border-box;
        float: left;
        height: 30px;
        align-self: flex-end;
        padding: 4px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: large;
        border-radius: 0px 6px 6px 0px;
        text-align: center;
        cursor: pointer;
        margin-top: 6px;
    }


</style>

<script>
    var @tableFragment.getName()lists = {rows: 0, list: []};
    var @tableFragment.getName()tableObj = [];
    @for((f, i) <- tableFragment.getFields().zipWithIndex) {
        var obj = {};

        obj.index = 0;
        obj.name = '@f.getName()';
        obj.type = Number('@f.getType()');
        obj.width = '@f.getWidth()';
        @if(f.getType() == 1){
            obj.list = [];
            @for(l <- f.getList()){
                var s = '@l';
                obj.list.push(s);
            }
        }
        @if(f.getInfo != null){
        $('.table-fragment-' + '@tableFragment.getName()' + '-column' + '@i').prop('title', '@f.getInfo()');
        obj.info = '@f.getInfo()';
        }

        @tableFragment.getName()tableObj.push(obj);

            @for(d <- 1 to 10){
                var listObj = {};
                listObj.name = '@tableFragment.getName()';
                listObj.list = [];

                @if(!form(f.getName() + "[" + d + "]").value.toString().equals("")){
                    @print("--> " + form(f.getName() + "[" + d + "]").value)
                    @tableFragment.getName()lists.list.push({id: '@(f.getName() +  d)', value: '@(form(f.getName() + "[" + d + "]").value)'});
                    @tableFragment.getName()lists.rows = @tableFragment.getName()lists.rows < Number('@d') ?  Number('@d') : @tableFragment.getName()lists.rows;

                }
            }
    }

    $(document).ready(function(){
        setColumns(@tableFragment.getName()tableObj, '@tableFragment.getName()');

        for(var t = 0; t < @tableFragment.getName()lists.rows; t++){
            @tableFragment.getName()Add();
        }
        for(var t in @tableFragment.getName()lists.list){
            $("#" + @tableFragment.getName()lists.list[t].id).val(@tableFragment.getName()lists.list[t].value);
        }

        $(".table-fragment-@tableFragment.getName()-add").click(function() {
            @tableFragment.getName()Add();
            $("#softwareTwoVersion0").val("hello");
        });
    });

    var @tableFragment.getName()Add = function () {
        var tableObj = @tableFragment.getName()tableObj;
        var tableName = '@tableFragment.getName()';
        $(".table-fragment-@tableFragment.getName()-input-container").append(createElement(tableObj, tableName));
        setColumns(tableObj, tableName);
        $(".table-fragment-@tableFragment.getName()-add").css("margin-top",0);
    }

    function createElement(obj, tableName){
        var element = "";
        for(var i = 0; i < obj.length; i++){
            obj[i].column = i;
            element += (obj[i].type == 0) ? createInputText(obj[i], tableName) : createInputSelect(obj[i], tableName);
        }
        return element;
    }

    function createInputSelect(obj, tableName) {
        obj.index++;
        var dlElement = '<dl class="table-fragment-input table-fragment-' + tableName + '-column' + obj.column + '" id="' + obj.name + '_' + obj.index + '_field">';
        var ddElement = '<dd><select name="' + obj.name + '[' + obj.index + ']"  id="' + obj.name +  obj.index + '">';
        var optionList = "";
        for(var o in obj.list){
            optionList += '<option value="' + obj.list[o] + '">' + obj.list[o] + '</option>';
        }
        return dlElement + ddElement + optionList + '</select></dd></dl>';
    }

    function createInputText(obj, tableName){
        var dlElement = '<dl class="table-fragment-input table-fragment-' + tableName + '-column' + obj.column + '" id="' + obj.name + '_' + (++obj.index) + '_field">';
        var ddElement = '<dd><input type="text" name="' + obj.name + '[' + obj.index + ']"  id="' + obj.name + obj.index + '"></dd></dl>';

        return dlElement + ddElement;
    }

    function setColumns(tableObj, tableName) {
        var containerWidth = 34;
        for(var o in tableObj){
            containerWidth += Number(tableObj[o].width);
            $(".table-fragment-" + tableName + "-column" + o).css({"width": tableObj[o].width});
            $(".table-fragment-" + tableName + "-column" + o +" input").css("width",tableObj[o].width);
            $(".table-fragment-" + tableName + "-column" + o +" select").css("width",tableObj[o].width);
        }
        $(".table-fragment-"+tableName+"-container").width(containerWidth);
    }

</script>
