@import service.FormLC
@import helper._
@(form: Form[_], optionMaps: Map[String, Map[String,String]])

<div id="ms-table">

    <h3 class="ms-head">LC-MS Settings</h3>
    <h5>For uploading of data to UniCarb-DB</h5>

    <br /> <br />
    <br /> <br />
    <h4>General features — (a) Global descriptors</h4>
    <br />
    <div class="ms-row" title="The date on which the work described was completed; given in the standard ‘YYYY-MM-DD’ format (with hyphens).">
        <div class="ms-label">
            <p>Date stamp</p>
        </div>
        <div class="ms-input">@helper.inputDate(form("l_date"), '_label -> null, '_class -> "search-field row-fluid date-stamp val v-lc")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row" title="The (stable) primary contact person for this data set; this could be the experimenter, lab head, line manager etc. Where responsibility rests with an institutional role (e.g., one of a number of duty officers) rather than a person, give the official name of the role rather than any one person.">
        <div class="ms-label">
            <p>Responsible person. Provide name,</p>
        </div>
        <div class="ms-input">@helper.inputText(form("l_responsiblePerson"), '_label -> null, '_class -> "search-field row-fluid responsible val v-lc")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label">
            <p>Affiliation</p>
        </div>
        <div class="ms-input">@helper.inputText(form("l_affiliation"), '_label -> null, '_class -> "search-field row-fluid affiliation val v-lc")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label">
            <p>Stable contact information</p>
        </div>
        <div class="ms-input">@helper.inputText(form("l_contactInformation"), '_label -> null, '_class -> "search-field row-fluid contactInformation val v-lc")</div>
        <span class="red-star">*</span>
    </div>
    <br /> <br /> <br />


    <h4>1. HPLC</h4>
    <div class="ms-row">
        <div class="ms-label"><p>HPLC manufacturer</p></div>
        <div class="ms-input">@select(form("l_hplcManufacturer"), options(optionMaps.get("HplcManufacturer")), '_label -> null)</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>HPLC brand</p></div>
        <div class="ms-input">@select(form("l_hplcBrand"), options(optionMaps.get("HplcBrand")), '_label -> null)</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Injector</p></div>
        <div class="ms-input">@helper.inputText(form("l_injector"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Injector settings</p></div>
        <div class="ms-input">@helper.inputText(form("l_injectorSettings"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <br /> <br /> <br />


    <h4>2. Method run</h4>
    <div class="ms-row">
        <div class="ms-label"><p>Temperature (°C)</p></div>
        <div class="ms-input">@helper.inputText(form("l_temp"), '_label -> null,  '_class -> "search-field number-field")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Solvent a</p></div>
        <div class="ms-input">@helper.inputText(form("l_solventA"), '_label -> null, '_class -> "search-field row-fluid val v-lc")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Solvent b</p></div>
        <div class="ms-input">@helper.inputText(form("l_solventB"), '_label -> null, '_class -> "search-field row-fluid val v-lc")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Other solvent</p></div>
        <div class="ms-input">@helper.inputText(form("l_solventD"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Flow rate </p></div>
        <div class="ms-input">@helper.inputText(form("l_flowRate"), '_label -> null, '_class -> "search-field number-field val v-lc")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Gradient </p></div>
        <div class="ms-input">@helper.inputText(form("l_flowGradient"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Run time </p></div>
        <div class="ms-input">@helper.inputText(form("l_runtime"), '_label -> null,  '_class -> "search-field row-fluid number-field")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Phase</p></div>
        <div class="ms-input">@helper.inputText(form("l_phase"), '_label -> null, '_class -> "search-field row-fluid val v-lc")</div>
        <span class="red-star">*</span>
    </div>
    <br /> <br /> <br />


    <h4>3. Column</h4>
    <div class="ms-row">
        <div class="ms-label"><p>Manufacturer</p></div>
        <div class="ms-input">@select(form("l_manufacturer"), options(optionMaps.get("ColumnManufacturer")), '_label -> null)</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Model</p></div>
        <div class="ms-input">@select(form("l_model"), options(optionMaps.get("ColumnModel")), '_label -> null)</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Type of chromatography</p></div>
        <div class="ms-input">@helper.inputText(form("l_chromatography"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Type of material</p></div>
        <div class="ms-input">@helper.inputText(form("l_material"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Column diameter (mm)</p></div>
        <div class="ms-input">@helper.inputText(form("l_columnDiameter"), '_label -> null,  '_class -> "search-field row-fluid number-field")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Column length (mm)</p></div>
        <div class="ms-input">@helper.inputText(form("l_columnLength"), '_label -> null,  '_class -> "search-field row-fluid number-field")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Particle size (μm)</p></div>
        <div class="ms-input">@helper.inputText(form("l_particleSize"), '_label -> null, '_class -> "search-field")</div>
    </div>
    <br>
</div>

    <script>
        var l_hplcManufacturer = '@form("l_hplcManufacturer").value';
        var l_hplcBrand = '@form("l_hplcBrand").value';
        var l_manufacturer = '@form("l_manufacturer").value';
        var l_model = '@form("l_model").value';


            $(document).ready(function() {
                if ($("#l_hplcManufacturer").val() != l_hplcManufacturer) {
                    $("#l_hplcManufacturer").css("border", "solid 1px #ffbb44");
                }
                $("#l_hplcManufacturer").change(function () {
                        $("#l_hplcManufacturer").css("border", "");
                });
                if ($("#l_hplcBrand").val() != l_hplcBrand) {
                    $("#l_hplcBrand").css("border", "solid 1px #ffbb44");
                }
                $("#l_hplcBrand").change(function () {
                        $("#l_hplcBrand").css("border", "");
                });
                if ($("#l_manufacturer").val() != l_manufacturer) {
                    $("#l_manufacturer").css("border", "solid 1px #ffbb44");
                }
                $("#l_manufacturer").change(function () {
                    $("#l_manufacturer").css("border", "");
                });
                console.log("model: |" + l_model +"|");
                console.log("elemet: |" + $("#l_model").val() + "|");
                if ($("#l_model").val() != l_model) {
                    $("#l_model").css("border", "solid 1px #ffbb44");
                    console.log("model: |" + l_model +"|");
                    console.log("elemet: |" + $("#l_model").val() + "|");
                }
                $("#l_model").change(function () {
                    $("#l_model").css("border", "");
                });
            });
    </script>