@import src.TableFragment
@import helper._
@(form: Form[_], tablesForm: Form[_], tables: List[TableFragment], optionMaps: Map[String, Map[String,String]])



<div id="ms-table">
    <br /> <br /> <br />
    <h4>4. Spectrum and peak list generation and annotation</h4>
    <br />
    <div class="ms-area-label">
        <p>For this section, if software other than that listed in 1b (Control and analysis software) is used to perform a task, it must be supplied in each case.</p>
    </div>

    @views.html.dataUpload.sheets.formtablefragment(tablesForm, tables(5))


    <br/><br/><br/>
    <h5>Spectrum and peak list generation and annotation — (a) Spectrum description</h5>
    <br/>
    <div class="ms-area-label" title="The location and filename under which the original raw data file from the mass spectrometer is stored, if available. Also give the type of the file where appropriate, or else a description of the software or reference resource used to generate it. Ideally this should be a URI or filename, or most preferably an LSID, where feasible. Due to the nature of the raw files (proprietary formats, no open source software, licensing, etc), the validation of raw data can only be possible if the information is provided in an open XML format (mzXML, mzData, mzML)">
        <p>Location of source (‘raw’) files</p>
    </div>
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, tables(6))


    <br/><br/><br/>
    <h5>Peak list generation and annotation — (b) Peak list generation</h5>
    <br/>
    <div class="ms-area-label">
        <p>Since several different applications may be used for the data acquisition, data post processing and spectrum annotation each used software should be recorded separately together with the information what modification has been done to the data.</p>
    </div>
    <br />

    @views.html.dataUpload.sheets.formtablefragment(tablesForm, tables(7))
    <br /><br /><br />
    <h5 title="Information about the produced data file.">
        Data file(s)
    </h5>
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, tables(8))


    <br/><br/>
    <div class="ms-row">
        <div class="ms-label"><p>Acquisition number for all acquisitions.</p></div>
        <div class="ms-input">@helper.inputText(form("m_acquisitionNumber"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Generation of peak lists from raw data</p></div>
        <div class="ms-input">@helper.inputText(form("m_peakLists"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Raw data scoring</p></div>
        <div class="ms-input">@helper.inputText(form("m_rawDataScoring"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Smoothing; whether applied, parameters</p></div>
        <div class="ms-input">@helper.inputText(form("m_smoothing"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Background threshold, or algorithm used</p></div>
        <div class="ms-input">@helper.inputText(form("m_backgroundThreshold"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Signal-to-noise estimation and method</p></div>
        <div class="ms-input">@helper.inputText(form("m_signalToNoise"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Percentage peak height for centroiding</p></div>
        <div class="ms-input">@helper.inputText(form("m_peakHeight"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Retention times for all acquisitions</p></div>
        <div class="ms-input">@helper.inputText(form("m_retentionTimes"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>m/z and intensity values</p></div>
        <div class="ms-input">@helper.inputText(form("m_intensityValues"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>


    <br/><br/><br/><br/>
    <h5>Peak list generation and annotation — (c) Annotation and scoring</h5>
    <br/>
    <div class="ms-area-label">
        <p>Since several different applications may be used for the data acquisition, data post processing and spectrum annotation each used software should be recorded separately together with the information what modification has been done to the data.</p>
    </div>
    <br />
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, tables(9))
    <br/><br /><br />
    <h5 title="Information about the annotation data file. This includes the file format and if applicable the URI to access the file.">
        Data file(s) generated by the software
    </h5>
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, tables(10))

    <br/><br/>
    <h5>Database settings and matching</h5>
    <div class="ms-row">
        <div class="ms-label"><p>Database queried</p></div>
        <div class="ms-input">@select(form("m_databaseQueried"), options(optionMaps.get("Database")), '_label -> null)</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Taxonomical restrictions</p></div>
        <div class="ms-input">@helper.inputText(form("m_taxonomicalRestrictions"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Other restrictions</p></div>
        <div class="ms-input">@helper.inputText(form("m_otherRestrictions"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Allowed cleavages</p></div>
        <div class="ms-input">@helper.inputText(form("m_allowedCleavages"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Parent error</p></div>
        <div class="ms-input">@helper.inputText(form("m_parentError"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Fragment error</p></div>
        <div class="ms-input">@helper.inputText(form("m_fragmentError"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>

    <div class="ms-row">
        <div class="ms-label"><p>Scoring method</p></div>
        <div class="ms-input">@helper.inputText(form("m_scoringMethod"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Scoring value format</p></div>
        <div class="ms-input">@helper.inputText(form("m_scoringValueFormat"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Scoring algorithm</p></div>
        <div class="ms-input">@helper.inputText(form("m_scoringAlgorithm"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Scoring result</p></div>
        <div class="ms-input">@helper.inputText(form("m_scoringResult"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Validation status</p></div>
        <div class="ms-input">@helper.inputText(form("m_validationStatus"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Validation value format</p></div>
        <div class="ms-input">@helper.inputText(form("m_validationMethod"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Validation result</p></div>
        <div class="ms-input">@helper.inputText(form("m_validationResult"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <br/><br/><br/>
</div>