@import service.{FormSample, FormMS}
@import src.TableFragment
@import helper._
@(form: Form[_], tablesForm: Form[_], tables: List[TableFragment], optionMaps: Map[String, Map[String,String]])

<div id="ms-table">
    <h3 class="ms-head">MIRAGE MS Guidelines</h3>
    <h5>Guidelines for reporting mass spectrometric analysis data of glycans</h5>

    <br /> <br />
    <br /> <br />
    <h4>1. General features</h4>
    <br />
    <h5>General features — (a) Global descriptors</h5>
    <div class="ms-row" title="The date on which the work described was completed; given in the standard ‘YYYY-MM-DD’ format (with hyphens).">
        <div class="ms-label">
            <p>Date stamp</p>
        </div>
        <div class="ms-input">@helper.inputDate(form("m_date"), '_label -> null, '_class -> "search-field row-fluid date-stamp val v-ms1")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row" title="The (stable) primary contact person for this data set; this could be the experimenter, lab head, line manager etc. Where responsibility rests with an institutional role (e.g., one of a number of duty officers) rather than a person, give the official name of the role rather than any one person.">
        <div class="ms-label">
            <p>Responsible person. Provide name,</p>
        </div>
        <div class="ms-input">@helper.inputText(form("m_responsiblePerson"), '_label -> null, '_class -> "search-field row-fluid responsible val v-ms1")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label">
            <p>Affiliation</p>
        </div>
        <div class="ms-input">@helper.inputText(form("m_affiliation"), '_label -> null, '_class -> "search-field row-fluid affiliation val v-ms1")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label">
            <p>Stable contact information</p>
        </div>
        <div class="ms-input">@helper.inputText(form("m_contactInformation"), '_label -> null, '_class -> "search-field row-fluid contactInformation val v-ms1")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Instrument manufacturer</p></div>
        <div class="ms-input">@select(form("m_manufacturer"), options(optionMaps.get("InstrumentManufacturer")), '_label -> null)</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Instrument model</p></div>
        <div class="ms-input">@select(form("m_model"), options(optionMaps.get("InstrumentModel")), '_label -> null)</div>
    </div>
    <div class="ms-row" title="Any significant (i.e., affecting behaviour) deviations from the manufacturer’s specification for the mass spectrometer.">
        <div class="ms-label">
            <p>Customizations</p>
        </div>
            <div class="ms-input">@helper.inputText(form("m_customizations"), '_label -> null, '_class -> "search-field")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label"><p>Ion mode</p></div>
        <div class="ms-input">@helper.select(field = form("m_ionMode"), options = Seq("Positive"->"Positive", "Negative"->"Negative"), '_label -> null)</div>
    </div>
    <br />

    <br /> <br />
    <h5>General features — (b) Control and analysis software</h5>
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, tables(4))


    <br />
    <br />
    <br />
    <h4>2. Ion Sources</h4>
    <br />

    <h5 style="display: inline-block">Ion Sources — (a) Electrospray Ionisation (ESI)</h5>
    <input id ="esi-check" type="checkbox" name="esi-check" style="display: inline-block; margin-left: 20px"  @if(form("m_CheckESI").value.contains("true")){checked="checked"} >
    <div id="esi-container">
        <div class="ms-row" title="Whether the sprayer is fed (by, for example, chromatography or CE) or is loaded with sample once (before spraying).">
            <div class="ms-label"><p>Supply type (static, or fed)</p></div>
            <div class="ms-input">@helper.inputText(form("m_supplyTypeESI"), '_label -> null, '_class -> "search-field val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Interface name</p></div>
            <div class="ms-input">@helper.inputText(form("m_interfaceNameESI"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <br />
        <br />
        <div title="Where the interface was bought from, plus its catalog number; list any modifications made to the standard specification. If the interface is entirely custom-built, describe it or provide a reference if available.">
            <div class="ms-area-label" >
                <p>Catalog number, vendor, and any modifications made to the standard specification.</p>
            </div>
            <div class="ms-input">@helper.textarea(form("m_interfaceDescriptionESI"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <br />
        <div class="ms-row">
            <div class="ms-label"><p>Sprayer name</p></div>
            <div class="ms-input">@helper.inputText(form("m_sprayerNameESI"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <br />
        <br />
        <div title="Where the sprayer was bought from, plus its catalog number; list any modifications made to the standard specification. If the sprayer is entirely custom-built, describe it briefly or provide a reference if available">
            <div class="ms-area-label">
                <p>Sprayer type, coating, manufacturer, model and catalog number (where available)</p>
            </div>
            <div class="ms-input">@helper.textarea(form("m_sprayerDescriptionESI"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <br />
        <div  title="Voltages that are considered as discriminating from an understood standard measurement mode, or important for the interpretation of the data. These might include the voltage applied to the sprayer tip, the voltage applied to the sampling cone, the voltage used to accelerate the ions into the rest of the mass spectrometer (mass analysis + detection) by MS level.">
            <div class="ms-area-label">
                <p>Relevant voltages where appropriate (tip, cone, acceleration)</p>
            </div>
            <div class="ms-input">@helper.textarea(form("m_voltagesESI"), '_label -> null, '_class -> "search-field")</div>
        </div>
        <br />
        <div class="ms-row">
            <div class="ms-label"><p>Degree of prompt fragmentation evaluated</p></div>
            <div class="ms-input">@helper.select(field = form("m_evaluatedFragmentationESI"), options = Seq("Yes" -> "Yes", "No" -> "No", "Not applicable" -> "Not applicable", "Not relevant" -> "Not relevant"), '_label -> null)</div>
        </div>
        <div class="ms-row" title="State whether in-source dissociation was performed (increased voltage between sample orifice and first skimmer).">
            <div class="ms-label"><p>Whether in-source dissociation performed</p></div>
            <div class="ms-input">@helper.select(field = form("m_inSourceDissociationESI"), options = Seq("Yes" -> "Yes", "No" -> "No"), '_label -> null)</div>
        </div>
        <br /> <br />
        <div title="Where appropriate, and if considered as discriminating elements of the source parameters, describe these values.">
            <div class="ms-area-label"><p>Other parameters if discriminant for the experiment (such as nebulizing gas and pressure)</p></div>
            <div class="ms-input">@helper.textarea(form("m_otherParametersESI"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
    </div>

    <br /> <br />
    <h5 style="display: inline-block">Ion sources — (b) MALDI</h5>
    <input id ="maldi-check" type="checkbox" name="maldi-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckMALDI").value.contains("true")){checked="checked"} >
    <div id="maldi-container">
        <div class="ms-row" title="The material of which the target plate is made (usually stainless steel, or coated glass); if the plate has a special construction then that should be briefly described and catalogue and lot numbers given where available">
            <div class="ms-label"><p>Plate composition (or type)</p></div>
            <div class="ms-input">@helper.inputText(form("m_PlateCompositionMALDI"), '_label -> null, '_class -> "search-field val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row" title="The material in which the sample is embedded on the target (e.g., 2,5-dihydroxybenzoic acid (DHB)).">
            <div class="ms-label"><p>Matrix composition (if applicable)</p></div>
            <div class="ms-input">@helper.inputText(form("m_matrixCompositionMALDI"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row" title="The method of laying down (matrix and) sample on the target plate (including matrix concentration and solvents applied); for example, matrix+sample in single deposition; or matrix, then matrix+sample (if several matrix substances are used, name each), Recrystallization using volatile solvent; where chromatographic eluent is directly applied to the plate by apparatus, or for other approaches, describe the process and instrumentation involved very briefly and cross-reference.">
            <div class="ms-label"><p>Deposition technique</p></div>
            <div class="ms-input">@helper.inputText(form("m_depositionTechniqueMALDI"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row" title="Voltages considered as relevant for the interpretation of the data. This might include the grid voltage (applied to the grid that sits just in front of the target), the acceleration voltage (used to accelerate the ions into the analyzer part of the mass spectrometer (mass analysis + detection), etc.">
            <div class="ms-label"><p>Relevant voltages where appropriate</p></div>
            <div class="ms-input">@helper.inputText(form("m_voltagesMALDI"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row" title="Yes/No. If yes, provide data showing results">
            <div class="ms-label"><p>Degree of prompt fragmentation evaluated</p></div>
            <div class="ms-input">@helper.inputText(form("m_evaluatedFragmentationMALDI"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row" title="Confirm whether post-source decay, laser-induced decomposition, or in-source dissociation was performed; if so provide a brief description of the process (for example, summarize the stepwise reduction of reflector voltage).">
            <div class="ms-label"><p>PSD (or LID/ISD) summary, if performed</p></div>
            <div class="ms-input">@helper.inputText(form("m_psdMALDI"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row" title="State whether a delay between laser shot and ion acceleration is employed.">
            <div class="ms-label"><p>Operation with or without delayed extraction</p></div>
            <div class="ms-input">@helper.inputText(form("m_delayedExtractionMALDI"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row" title="The type of laser and the wavelength of the generated pulse (in nanometers).">
            <div class="ms-label"><p>Laser (e.g., nitrogen) and wavelength (nm)</p></div>
            <div class="ms-input">@helper.inputText(form("m_laserMALDI"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <br /> <br />
        <div title="Other details of the laser used to irradiate the matrix-embedded sample if considered as important for the interpretation of data; this might include the pulse energy in microJoules, focus diameter in microns, attenuation details, pulse duration in nanoseconds at full-width half maximum, frequency of shots in Hertz and average number of shots fired to generate each combined mass spectrum.">
            <div class="ms-area-label"><p>Other laser related parameters, if discriminating for the experiment</p></div>
            <div class="ms-input">@helper.textarea(form("m_otherParmasMALDI"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <br />
    </div>

    <h4>3. Ion transfer optics</h4>
    <div class="ms-row" title="e.g. ‘simple’ quadrupoles, hexapoles, stacked ring electrodes, TOF">
        <div class="ms-label">
            <p>Hardware options</p>
        </div>
        <div class="ms-input">@helper.inputText(form("m_hardwareOptions"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <br /> <br /> <br />

    <br/>
    <h5>Post-source componentry — (a)Collision cell</h5>
    <br /> <br/>
    <h5 style="display: inline-block">Collision-Induced Dissociation (CID)</h5>
    <input id ="cid-check" type="checkbox" name="cid-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckCID").value.contains("true")){checked="checked"} >
    <div id="cid-container">
        <div class="ms-row" title="The composition of the gas used to fragment ions in the collision cell (TOF-TOF, linear trap, Paul trap, or FT- ICR cell).">
            <div class="ms-label"><p>Gas composition</p></div>
            <div class="ms-input">@helper.inputText(form("m_cidGasComposition"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row" title="The pressure of the gas used to fragment ions in the collision cell.">
            <div class="ms-label"><p>Gas pressure</p></div>
            <div class="ms-input">@helper.inputText(form("m_cidGasPressure"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <br /> <br />
        <div  title="The specifics for the process of imparting a particular impetus to ions with a given m/z value, as they travel into the collision cell for fragmentation. This could be a global figure (e.g., for tandem TOFs), or a complex function; for example a gradient (stepped or continuous) of m/z values (for quads) or activation frequencies (for traps) with associated collision energies (given in eV)">
            <div class="ms-area-label">
                <p>Collision energy CID/function</p>
            </div>
            <div class="ms-input">@helper.textarea(form("m_cidCollisionEnergy"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
    </div>
    <br />

    <h5 style="display: inline-block">Electron Transfer Dissociation (ETD)</h5>
    <input id ="etd-check" type="checkbox" name="etd-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckETD").value.contains("true")){checked="checked"} >
    <div id="etd-container">
        <div class="ms-row">
            <div class="ms-label"><p>Reagent gas</p></div>
            <div class="ms-input">@helper.inputText(form("m_etdReagentGas"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Pressure</p></div>
            <div class="ms-input">@helper.inputText(form("m_etdPressure"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Reaction time</p></div>
            <div class="ms-input">@helper.inputText(form("m_etdReactionTime"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Number of reagent atoms</p></div>
            <div class="ms-input">@helper.inputText(form("m_etdNumberOfAtoms"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
    </div>
    <br /> <br />

    <h5 style="display: inline-block">Electron Capture Dissociation (ECD)</h5>
    <input id ="ecd-check" type="checkbox" name="ecd-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckECD").value.contains("true")){checked="checked"} >
    <div id="ecd-container">
        <div class="ms-row">
            <div class="ms-label"><p>Emitter type</p></div>
            <div class="ms-input">@helper.inputText(form("m_ecdEmitterType"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Voltage</p></div>
            <div class="ms-input">@helper.inputText(form("m_ecdVoltage"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Current</p></div>
            <div class="ms-input">@helper.inputText(form("m_ecdCurrent"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
    </div>
    <br />

    <br /> <br /> <br />
    <h5 style="display: inline-block">Post-source componentry — (b) TOF drift tube</h5>
    <input id ="tof-check" type="checkbox" name="tof-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckTOF").value.contains("true")){checked="checked"} >
    <div id="tof-container">
        <div class="ms-row" title="Whether a Reflectron is present, and if so, whether it is used. Depending on the type of instrument provide exact details on the reflectron mode (e.g. V or W mode).">
            <div class="ms-label"><p>Reflectron status (on, off, none)</p></div>
            <div class="ms-input">@helper.inputText(form("m_reflectronStatus"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
    </div>
    <br/> <br /> <br />

    <h5 style="display: inline-block">Post-source componentry — (c) Ion trap</h5>
    <input id ="trap-check" type="checkbox" name="trap-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckIonTrap").value.contains("true")){checked="checked"} >
    <div id="trap-container">
        <div class="ms-row" title="The final MS level achieved in generating this data set with an ion trap or equivalent (e.g., MS^10).">
            <div class="ms-label"><p>Final MS stage achieved</p></div>
            <div class="ms-input">@helper.inputText(form("m_finalMsStage"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
    </div>

    <br /> <br /> <br />
    <h5 style="display: inline-block" title="gas, pressure, instrument-specific parameters e.g. wave velocity/height depending on the particular vendor's options for tuning this component">
        Post-source componentry – (d) Ion mobility
    </h5>
    <input id ="mobility-check" type="checkbox" name="mobility-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckIonMobility").value.contains("true")){checked="checked"} >
    <div id="mobility-container">
        <div class="ms-row">
            <div class="ms-label"><p>Gas</p></div>
            <div class="ms-input">@helper.inputText(form("m_ionMobilityGas"), '_label -> null, '_class -> "search-field row-fluid val v-ms1")</div>
            <span class="red-star">*</span>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Pressure</p></div>
            <div class="ms-input">@helper.inputText(form("m_ionMobilityPressure"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Instrument-specific parameters</p></div>
            <div class="ms-input">@helper.inputText(form("m_ionMobilityInstrumentParameters"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
    </div>

    <br /> <br /> <br />
    <h5 style="display: inline-block" title="Peak selection, pulse width, voltage, decay time, IR ... other important experiment parameters.">
        Post-source componentry — (e) FT-ICR
    </h5>
    <input id ="icr-check" type="checkbox" name="icr-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckFTICR").value.contains("true")){checked="checked"} >
    <div id="icr-container">
        <div class="ms-row">
            <div class="ms-label"><p>Peak selection</p></div>
            <div class="ms-input">@helper.inputText(form("m_ftIcrPeakSelection"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Pulse</p></div>
            <div class="ms-input">@helper.inputText(form("m_ftIcrPulse"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Width</p></div>
            <div class="ms-input">@helper.inputText(form("m_ftIcrWidth"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Voltage</p></div>
            <div class="ms-input">@helper.inputText(form("m_ftIcrVoltage"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Decay time</p></div>
            <div class="ms-input">@helper.inputText(form("m_ftIcrDecayTime"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>IR</p></div>
            <div class="ms-input">@helper.inputText(form("m_ftIcrIR"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
        <div class="ms-row">
            <div class="ms-label"><p>Other parameters</p></div>
            <div class="ms-input">@helper.inputText(form("m_ftIcrOtherParameters"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
    </div>

    <br /> <br /> <br />
    <h5 style="display: inline-block">Post-source componentry — (f) Detectors</h5>
    <input id ="detectors-check" type="checkbox" name="detectors-check" style="display: inline-block; margin-left: 20px" @if(form("m_CheckDetectors").value.contains("true")){checked="checked"} >
    <div id="detectors-container">
        <div class="ms-row" title="Needs defintion if non OEM detector were used (e.g. microchannel plate, channeltron etc.)">
            <div class="ms-label" >
                <p>Detector type</p>
            </div>
            <div class="ms-input">@helper.inputText(form("m_detectorType"), '_label -> null, '_class -> "search-field row-fluid")</div>
        </div>
    </div>
    <br /> <br /> <br />

    @inputText(form("journalReferenceID"),'style -> "display: none", '_label -> null)
    @helper.repeat(form("gwpFiles"), min = 10) { field =>
        @helper.inputText(field,'style -> "display: none", '_label -> null)
    }
</div>

    <script>
            var m_manufacturer = '@form("m_manufacturer").value';
            var m_model = '@form("m_model").value';
            var m_evaluatedFragmentationESI = '@form("m_evaluatedFragmentationESI").value';
            var m_inSourceDissociationESI = '@form("m_inSourceDissociationESI").value';

            $(document).ready(function() {
                if (m_manufacturer != "" && $("#m_manufacturer").val() != m_manufacturer) {
                    $("#m_manufacturer").css("border", "solid 1px #ffbb44");
                }
                $("#m_manufacturer").change(function () {
                    $("#m_manufacturer").css("border", "");
                });
                if ($("#m_model").val() != m_model) {
                    $("#m_model").css("border", "solid 1px #ffbb44");
                }
                $("#m_model").change(function () {
                    $("#m_model").css("border", "");
                });
                if (m_evaluatedFragmentationESI != "" && $("#m_evaluatedFragmentationESI").val() != m_evaluatedFragmentationESI) {
                    $("#m_evaluatedFragmentationESI").css("border", "solid 1px #ffbb44");
                }
                $("#m_evaluatedFragmentationESI").change(function () {
                    $("#m_evaluatedFragmentationESI").css("border", "");
                });
                if (m_inSourceDissociationESI != "" && $("#m_inSourceDissociationESI").val() != m_inSourceDissociationESI) {
                    $("#m_inSourceDissociationESI").css("border", "solid 1px #ffbb44");
                }
                $("#m_inSourceDissociationESI").change(function () {
                    $("#m_inSourceDissociationESI").css("border", "");
                });


                checker($("#esi-check"), "#esi-container");
                $("#esi-check").click(function () {
                   checker($("#esi-check"), "#esi-container");
                });

                checker($("#maldi-check"), "#maldi-container");
                $("#maldi-check").click(function () {
                    checker($("#maldi-check"), "#maldi-container");
                });


                checker($("#cid-check"), "#cid-container");
                //$("#cid-check").prop('checked', true);
                $("#cid-check").click(function () {
                    checker($("#cid-check"), "#cid-container");
                });
                checker($("#etd-check"), "#etd-container");
                $("#etd-check").click(function () {
                    checker($("#etd-check"), "#etd-container");
                });
                checker($("#ecd-check"), "#ecd-container");
                $("#ecd-check").click(function () {
                    checker($("#ecd-check"), "#ecd-container");
                });
                checker($("#tof-check"), "#tof-container");
                $("#tof-check").click(function () {
                    checker($("#tof-check"), "#tof-container");
                });
                checker($("#trap-check"), "#trap-container");
                $("#trap-check").click(function () {
                    checker($("#trap-check"), "#trap-container");
                });
                checker($("#mobility-check"), "#mobility-container");
                $("#mobility-check").click(function () {
                    checker($("#mobility-check"), "#mobility-container");
                });
                checker($("#icr-check"), "#icr-container");
                $("#icr-check").click(function () {
                    checker($("#icr-check"), "#icr-container");
                });
                checker($("#detectors-check"), "#detectors-container");
                $("#detectors-check").click(function () {
                    checker($("#detectors-check"), "#detectors-container");
                });

                function checker(checkBox,container) {
                    if(!checkBox.is(':checked')){
                        checkBox.prop('checked', false);
                        $(container + " input, " + container + " textarea, " + container + " select").each(function () {
                            $(this).val("NA");
                            $(this).trigger("focusout");
                            $(this).attr('readonly', 'readonly');
                        });
                    } else {
                        checkBox.prop('checked', true);
                        $(container + " input, " + container + " textarea, " + container + " select").each(function () {
                            if($(this).val() === "NA"){
                                $(this).val("");
                            }
                            $(this).trigger("focusout");
                            $(this).removeAttr('readonly');
                        });
                    }
                }
            });
    </script>