@import src.TableFragment
@import service.{FormSample, FormMS}
@import helper._
@(form: Form[_], tablesForm: Form[_], optionMaps: Map[String, Map[String,String]], sampleTables: List[TableFragment])

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }


    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


<div id="ms-table">

    <h3 class="ms-head">MIRAGE Sample Preparation Guidelines</h3>
    <h5>Guidelines for reporting sample preparation descriptors for glycomics experiments</h5>

    <br /> <br />
    <br /> <br />
    <h4>General features — (a) Global descriptors</h4>
    <br />
    <div class="ms-row" title="The date on which the work described was completed; given in the standard ‘YYYY-MM-DD’ format (with hyphens).">
        <div class="ms-label">
            <p>Date stamp</p>
        </div>
        <div class="ms-input">@helper.inputDate(form("s_date"), '_label -> null, '_class -> "search-field row-fluid date-stamp val v-sample")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row" title="The (stable) primary contact person for this data set; this could be the experimenter, lab head, line manager etc. Where responsibility rests with an institutional role (e.g., one of a number of duty officers) rather than a person, give the official name of the role rather than any one person.">
        <div class="ms-label">
            <p>Responsible person. Provide name,</p>
        </div>
        <div class="ms-input">@helper.inputText(form("s_responsiblePerson"), '_label -> null, '_class -> "search-field row-fluid responsible val v-sample")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label">
            <p>Affiliation</p>
        </div>
        <div class="ms-input">@helper.inputText(form("s_affiliation"), '_label -> null, '_class -> "search-field row-fluid affiliation val v-sample")</div>
        <span class="red-star">*</span>
    </div>
    <div class="ms-row">
        <div class="ms-label">
            <p>Stable contact information</p>
        </div>
        <div class="ms-input">@helper.inputText(form("s_contactInformation"), '_label -> null, '_class -> "search-field row-fluid contactInformation val v-sample")</div>
        <span class="red-star">*</span>
    </div>
    <br /> <br /> <br />
    <h4>1. Sample origin</h4>
    <br />
    <div class="ms-area-label">
        <p>Here “sample” is defined as any carbohydrate, polysaccharide, oligosaccharide or glycoconjugate that originates from any given starting material. The starting material may be a compound, mixture or cell product used to produce the oligosaccharide sample of interest. The source and/or methods used to produce the starting sample material can vary considerably but minimum information that describes its origin is outlined.</p>
    </div>
    <br />
    <div title="Describe how original starting sample material was generated or where it was obtained. Starting material descriptions are further delineated by biologically or chemically derived material.">
    <div class="ms-area-label">
            <p>General information</p>
        </div>
        <div class="ms-input">@helper.textarea(form("s_generalInfo"), '_label -> null, '_class -> "search-field val v-sample")</div>
        <span class="red-star">*</span>
    </div>
<br />
    <h4 title="Biologically derived material includes recombinantly expressed protein cells, etc. As well as whole organisms or tissues">
        1.1 Biologically derived material
    </h4>
    <br />
    <h5>Biologically derived material - Recombinantly produced material</h5>
    <br />
    <div class="ms-row" title="e.g. CHO, HEK, NS0 etc.">
        <div class="ms-label">
            <p>Cell type</p>
        </div>
        <div class="ms-input">
            <select class="cell-type form-control" style="width:200px" name="cell-type"></select>
        </div>


    </div>
    <br /> <br />
    <div  title="growth/harvest conditions should be specified. Any modifications to cells that influence the characteristics of the starting material (e.g. genetic manipulations) should also be stated.">
        <div class="ms-area-label">
            <p>Growth/harvest conditions. Other modifications.</p>
        </div>
        <div class="ms-input">@helper.textarea(form("s_harvestConditions"), '_label -> null, '_class -> "search-field")</div>
    </div>

    <br />
    <h5>Biologically derived material - Biological origin of Material</h5>
    <br /><br />
    <div class="ms-row">
        <div class="ms-label"><p>Origin (biological fluids, tissue, etc)</p></div>
        <select class="origin form-control" style="width:200px" name="origin"></select>
    </div>
    <br />
    <div class="ms-row">
        <div class="ms-label"><p>Species</p></div>
        <select class="species form-control" style="width:200px" name="species"></select>
    </div>
    <br /> <br />
    <div>
        <div class="ms-area-label"><p>Describe treatments and/or storage conditions</p></div>
        <div class="ms-input">@helper.textarea(form("s_storageConditions"), '_label -> null, '_class -> "search-field")</div>
    </div>
    <div class="ms-row">
        <div class="ms-label">
            <p>Glycoprotein (Uniprot ID)</p>
        </div>
        <div class="ms-input">@helper.inputText(form("s_glycoprotein"), '_label -> null, '_class -> "search-field")</div>
    </div>

    <br /><br /><br />
    <h5>Biologically derived material - Purchased from commercial manufacturer</h5>
    <br /> <br />
    <div>
        <div class="ms-area-label"><p>Vendor and applicable item information</p></div>
        <div class="ms-input">@helper.textarea(form("s_vendor"), '_label -> null, '_class -> "search-field")</div>
    </div>
    <br />
    <h5>1.2 Chemically derived material</h5>
    <br />
    <br />
    <div title="If samples were synthetically derived, provide information detailing synthesis steps or specify where the equivalent reaction protocol is available.">
        <div class="ms-area-label">
            <p>Synthesis steps or specify where the equivalent reaction protocol is available.</p>
        </div>
        <div class="ms-input">@helper.textarea(form("s_SynthesisSteps"), '_label -> null, '_class -> "search-field")</div>
    </div>
    <div class="ms-row" title="Define the type of starting material used or produced that contains the oligosaccharide to be used/analysed in subsequent experiments. These may include glycoprotein(s), proteoglycan, glycolipid, GPI-anchored, free-oligosaccharides, sugar-nucleotides or synthetically derived material but are not limited to these definitions">
        <div class="ms-label">
            <p>Description of starting material</p>
        </div>
        <div class="ms-input">@select(form("s_startingMaterial"), options(optionMaps.get("StartingMaterial")), '_label -> null)</div>
    </div>
    <br />
    <br />
    <br />
    <h4>2. Sample Processing</h4>
    <br />
    <h5>2.1 Sample Processing – Isolation</h5>
    <br />
    <br />
    <h6>Enzymatic treatments</h6>
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, sampleTables(0))
    <br />
    <br />
    <h6>Chemical treatments</h6>
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, sampleTables(1))

    <br />
    <br />
    <br />
    <h5 title="Isolated material may be subject to a wide variety of chemical or enzymatic modifications. The type of modification and reaction protocols should be documented. If new protocols are used provide a thorough description.">
        2.2 Sample Processing – Modification
    </h5>
    <br />
    <h6>Enzymatic modifications</h6>
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, sampleTables(2))
    <br />
    <br />
    <h6>Chemical treatments</h6>
    @views.html.dataUpload.sheets.formtablefragment(tablesForm, sampleTables(3))
    <br />
    <br />
    <br />

    <h5 title="The processing steps encompass any type of refining or clean-up strategies used to produce the purified final sample product.">
        2.3 Sample Processing – Purification
    </h5>
    <br />
    <div title="Specify all steps used to purify starting material after isolation/modification steps. Examples of procedures include solid phase extraction (SPE), liquid-liquid extraction or other chromatographic methods. For each method describe the all experimental materials (e.g. stationary phase) and methods (e.g. flow rates, fractionation etc.).">
        <div class="ms-area-label"><p>Purification steps</p></div>
        <div class="ms-input">@helper.textarea(form("s_purification"), '_label -> null, '_class -> "search-field row-fluid")</div>
    </div>
    <br /> <br />


    <h4>3. Defined sample</h4>
    <div class="ms-row" title="Name or specify the type of sample material to be analysed or used in other experiments. These may include but are not limited to glycoconjugates, glycosaminoglycans, N- or O-glycans, glycopeptides, glycolipids, monosaccharides, poly- and oligosaccharides">
        <div class="ms-label"><p>Sample name</p></div>
        <div class="ms-input">@select(form("s_sampleName"), options(optionMaps.get("SampleMaterial")), '_label -> null)</div>
    </div>
    <br /> <br />


    @inputText(form("s_cellType"),'style -> "display: none", '_label -> null)

    @inputText(form("s_origin"),'style -> "display: none", '_label -> null)

    @inputText(form("s_species"),'style -> "display: none", '_label -> null)

</div>



<script>
    var material = '@form("s_startingMaterial").value';
    var sample = '@form("s_sampleName").value';
    var fCell = '@form("s_cellType").value';
    var fOrigin = '@form("s_origin").value';
    var fSpecies = '@form("s_species").value';

        $(document).ready(function(){

            //$("#s_vendor").val("NA");
            //$("#s_vendor").attr('disabled', 'disabled');
            //$("#s_startingMaterial").attr('disabled', 'disabled');
            //$(".species").attr('disabled', 'disabled');

            // Switch border color
            if(material != "" && $("#s_startingMaterial").val() != material){
                $("#s_startingMaterial").css("border", "solid 1px #ffbb44");
            }
            $("#s_startingMaterial").change(function () {
                if($("#s_startingMaterial").val() != " "){
                    $("#s_startingMaterial").css("border", "");
                }
            });
            if(sample != "" && $("#s_sampleName").val() != sample){
                $("#s_sampleName").css("border", "solid 1px #ffbb44");
            }
            $("#s_sampleName").change(function () {
                if($("#s_sampleName").val() != " "){
                    $("#s_sampleName").css("border", "");
                }
            });

            $('.cell-type').select2({
                placeholder: '',
                ajax: {
                    url: '/api/cell/json/',
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 2
            });

            $('.species').select2({
                placeholder: '',
                ajax: {
                    url: '/api/species/json/',
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 2
            });

            $('.origin').select2({
                placeholder: '',
                ajax: {
                    url: '/api/origin/json/',
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 2
            });

            $(".cell-type").change(function () {
                $(".cell-type").next().children(".selection").children(".select2-selection").css("border","");
                $("#s_cellType").val($(".cell-type").val());
            });

            $(".origin").change(function () {
                $(".origin").next().children(".selection").children(".select2-selection").css("border","");
                $("#s_origin").val($(".origin").val());
            });

            $(".species").change(function () {
                $(".species").next().children(".selection").children(".select2-selection").css("border","");
                $("#s_species").val($(".species").val());
            });


            // Check the data against the db
             $.getJSON( '/api/cell/json/?q=' + $("#s_cellType").val(), function( data ) {
                 var items = [];
                 $.each( data, function( key, val ) {
                     items.push(val);
                 });
                 if(items.length == 0){
                     $(".cell-type").select2("trigger", "select", {
                         data: {id: "", "text": ""}
                     });
                     $(".cell-type").next().children(".selection").children(".select2-selection").css("border","solid 1px #ffbb44");
                 }else {
                     $(".cell-type").select2("trigger", "select", {
                         data: {id: $("#s_cellType").val(), "text": $("#s_cellType").val()}
                     });
                 }
             });

             $.getJSON( '/api/origin/json/?q=' + $("#s_origin").val(), function( data ) {
                   var items = [];
                   $.each( data, function( key, val ) {
                       items.push(val);
                   });
                   if(items.length == 0){
                       $(".origin").select2("trigger", "select", {
                           data: {id: "", "text": ""}
                       });
                       $(".origin").next().children(".selection").children(".select2-selection").css("border","solid 1px #ffbb44");
                   }else {
                       $(".origin").select2("trigger", "select", {
                           data: { id:  $("#s_origin").val(), "text": $("#s_origin").val()}
                       });
                   }
             });

             $.getJSON( '/api/species/json/?q=' + $("#s_species").val(), function( data ) {
                var items = [];
                $.each( data, function( key, val ) {
                    items.push(val);
                });
                if(items.length == 0){
                    $(".species").select2("trigger", "select", {
                        data: {id: "", "text": ""}
                    });
                    $(".species").next().children(".selection").children(".select2-selection").css("border","solid 1px #ffbb44");
                }else {
                    $(".species").select2("trigger", "select", {
                        data: {id: $("#s_species").val(), "text": $("#s_species").val()}
                    });
                }
                document.activeElement.blur();
                document.body.scrollTop = 0; // For Chrome, Safari and Opera
                document.documentElement.scrollTop = 0; // For IE and Firefox
            });

        });
</script>

