@import service.StructureForm
@(st: StructureForm, index: Integer)
<div style="border-bottom: solid #f0f0f0 1px;" onclick="itemExpander(this)">

    <div style="width: 88%; display: inline-block">
        <div style="display: inline-block; vertical-align: top; width: 220px; height: 160px">
            <br>
            <h5 style="margin-bottom: 8px">MS information</h5>
            Observed Precursor: @st.getPrecursor <br>
        Theoretical Reducing Mass: @("%.2f".format(st.getReducingMass)) <br>
        Retention Time: @st.getRetentionTime <br> <br>
        </div>

        <div style="display: inline-block; width: 225px; vertical-align: top ">
             <img class="sugar_image" src=@{routes.GWPController.showImage(st.getStructure(), null, "extended")
            } width="200px" alt="" />
        </div>

        <div class="spec-container" style="height: 160px; width: 240px; display: inline-block; padding-top: 40px; cursor: pointer">
            <div id="stgraph@index" style="display: inline-block; width: 200px; height: 100px"></div>
        </div>

    </div>

    <div class="down-arrow" style="display: inline-block; height: 40px; width: 10%; vertical-align: bottom; ">
        <img src="../assets/images/icons/icon_arrow.png" style="float: right; width: 26px; opacity: 0.4; cursor: pointer">
    </div>

    <div class="item-extension" style="display: none; width: 100%;">

        <div style="display: inline-block; width: 50%; vertical-align: top">

            <div>
                <br>
                Reducing End: @st.getReducingEnd <br>
                Persubstitution: @st.getPersubstitution <br>
                Scan MS: @st.getScanMS <br>
                Scan MS/MS: @st.getScanMSMS <br>
               @* Precursor: @st.getPrecursor <br>
                Retention Time: @st.getRetentionTime <br> *@
                Stability: @st.getStability <br>
                <br>

                <h5>Orthogonal methods</h5>
                Orthogonal: @st.getOrthogonal <br>
                <br>

                <h5> Quantitation </h5>
                Quantitation method: <br>
                Quantity: @st.getQuantity <br>
                <br>
            </div>

        </div>

        <div style="display: inline-block; width: 49%;">

            <br>
            <h5>Database</h5>
            Database: @st.getDatabase <br>
            Tax Restrictions: @st.getTaxRestrictions <br>
            Other Restrictions: @st.getOtherRestrictions <br>
            Allowed Cleavages: @st.getAllowedCleavages <br>
            Parent Error: @st.getParentError <br>
            Fragment Error: @st.getFragmentError <br>
            Scoring Method: @st.getScoringMethod <br>
            Scoring Algorithm: @st.getScoringAlgorithm <br>
            Scoring Value Format: @st.getScoringValueFormat <br>
            Scoring Result: @st.getScoringResult <br>
            <br>

            <h5>Validation</h5>
            Validation Status: @st.getValidationStatus <br>
            Validation Value Format: @st.getValidationValueFormat <br>
            Validation Results: @st.getValidationResults <br>
            Other: @st.getOther <br>
        </div>

        <div style=" height: 40px; width: 93.5%;">
            <img src="../assets/images/icons/icon_uparrow.png" style="float: right; width: 26px; opacity: 0.4; cursor: pointer">
        </div>
    </div>

</div>


<script>

    @if(st.getPeakLabeledList.size > 1){
        var chart;

        var jsonObject@index = ﻿{"spectrumId": "TestID",
                "mzStart": 0,
                "mzStop": 1000,
                "peaks": [
            @for(pl <- st.getPeakLabeledList){
            {"mz": @pl.mz_value, "intensity": @pl.intensity_value},
            }
        ]};


        var yAxis = [
            @for(pl <- st.getPeakLabeledList){
            @pl.intensity_value,
            }
        ];


        var largest@index = Math.max.apply(Math, yAxis);

        chart = st.chart
                .ms()
                .xlabel(" ")
                .ylabel(" ")
                .margins([0, 0, 0, 0]);
        chart.render("#stgraph@index");           // render chart to id 'stgraph'


        var set = st.data.set()        // data type (set)
                .ylimits([0, largest@index])        // y-axis limits
                .x("peaks.mz")             // x-accessor
                .y("peaks.intensity")      // y-accessor
                .title("spectrumId");      // id-accessor


        chart.load(set);               // bind the data set

        set.add([jsonObject@index], []);

        $("#stgraph@index").click(function(a) {
          specOverlay(jsonObject@index, largest@index);
        return false;
        });

        } else {
        $("#stgraph@index").append("<br/>   <h4 style='padding-left: 16px'>No spectra available</h4>");
    }
</script>