@import service.{FormMS, FormStructure, StructureForm, StructureForms}
@import helper._
@(listForm: Form[StructureForms], list: List[StructureForm], form: Form[FormStructure])

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

<script src="@routes.Assets.versioned("javascripts/st.js")"></script>
<script src="@routes.Assets.versioned("javascripts/d3.js")"></script>

    <section id="structureLayout">
        <div id="layouts">

            <h4 class="ms-head">Structures</h4>
            <br />

            @for((st, index) <- list.zipWithIndex) {
                        <div style="border-bottom: solid 1px #f0f0f0"></div>
                        @views.html.dataUpload.sheets.structureitem(st, index)  }

                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div id="big-chart-overlay">
        <div id="big-chart">
            <div id="big-chart-btn"><img src="../assets/images/icons/icon_xmark.png" width="16px"></div>
        </div>
    </div>


    <style>
        #big-chart-overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
        }
        #big-chart{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 12px;
            background-color: white;
            width: 800px;
            height: 500px;
            border-radius: 4px;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
        #big-chart-btn{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 46px;
            height: 30px;
            border-radius: 0px 4px 0px 2px;
            border: solid 1px #fff;
            background-color: #8f1620;
            color: #fff;
            font-size: 20px;
            text-align: center;
            opacity: 0.6;
            cursor: pointer;
            padding-top: 6px;
        }
    </style>

    <script>
        $(document).ready(function(){

            $("#big-chart-btn").click(function () {
                $("#big-chart-overlay").hide();
            });

        });

        function itemExpander(element) {

            var e = $(element).children(".item-extension");
            if($(e).is(':visible')){
                e.hide(100);
                $(element).children(".down-arrow").show();
            } else {
                e.show(100);
                $(element).children(".down-arrow").hide();
            }
        }

        function specOverlay(jsonObject, largest) {
            $("#big-chart-overlay").show();
            $("#big-chart-overlay .st-base").remove();
            chart = st.chart
                    .ms()
                    .xlabel("m/z")
                    .ylabel("Abundance")
                    .margins([50, 80, 80, 120]);
            chart.render("#big-chart");           // render chart to id 'stgraph'

            var set = st.data.set()        // data type (set)
                    .ylimits([0, largest])        // y-axis limits
                    .x("peaks.mz")             // x-accessor
                    .y("peaks.intensity")      // y-accessor
                    .title("spectrumId");      // id-accessor

            chart.load(set);               // bind the data set

            set.add([jsonObject], []);
        }
    </script>