@(tissues: Map[String,String], taxonomies: Map[String,String], refs: List[String])

<script>
    $(function() {
        options = '';

        var myTissues = new Array();
        @for((key, value) <- tissues ){
            myTissues.push("@value");
        }
        myTissues.sort();
        options += '<optgroup label="Tissue">';
        for (var i = 0; i < myTissues.length; i++) {
            options += '<option value="' + myTissues[i] + '">' + myTissues[i] + '</option>';
        }
        options += '</optgroup>';

        var myTaxonomies = new Array();
        @for((key, value) <- taxonomies ){
            myTaxonomies.push("@value");
        }
        myTaxonomies.sort();
        options += '<optgroup label="Taxonomies">';
        for (var i = 0; i < myTaxonomies.length; i++) {
            options += '<option value="' + myTaxonomies[i] + '">' + myTaxonomies[i] + '</option>';
        }
        options += '</optgroup>';

        var myReferences = new Array();
        @for(r <- refs ){
            myReferences.push("@r");
        }
        myReferences.sort();
        options += '<optgroup label="References">';
        for (var i = 0; i < myReferences.length; i++) {
            options += '<option value="' + myReferences[i] + '">' + myReferences[i] + '</option>';
        }
        options += '</optgroup>';

        $(document).ready(function(){
            $("#e20").select2({
                placeholder: "Start typing...",
                allowClear: true,
                minimumInputLength: 1,
                width: '100%'
            });
        });


        $('#e20').html(options); //SB
    });
</script>

