@(frAdvanced: Form[DBviews.vAdvancedSearch], persubs: Map[String,String], redEnd: Map[String,String], taxon: Map[String,String], tissue: Map[String,String])

@import helper._
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-6", "col-md-6") }

@if(frAdvanced.hasGlobalErrors) {
    <p class="error">
        @for(error <- frAdvanced.globalErrors) {
            <p class="coral">@Messages(error.messages, error.arguments.toArray: _*)</p>
        }
    </p>
}


@b3.form(routes.SearchController.searchAdvanced()) {

    @views.html.search.searchTissueTaxonomy(frAdvanced, tissue, taxon)
<span id="pruebata">
    @views.html.search.searchReferences(frAdvanced)
</span>
    @views.html.search.searchComposition(frAdvanced, persubs, redEnd)



    @b3.free(){
    <div class="row-fluid">
        <button type="submit" class="btn btn-primary pull-right">Search</button>
    </div>
    }



}