@(frAdvanced: Form[DBviews.vAdvancedSearch])

@implicitFieldConstructor = @{ b3.inline.fieldConstructor }

<div class="searchdiv">
    <h4>Reference</h4>
    @b3.text(frAdvanced("authors"), '_class -> "search-field", 'placeholder -> "Author")
    @b3.text(frAdvanced("title"), '_class -> "search-field", 'placeholder -> "Title")
    @b3.number(frAdvanced("year"), '_class -> "search-field short", 'max -> 9999, 'placeholder -> "Year")
    @b3.text(frAdvanced("pubmed"), '_class -> "search-field short", 'placeholder -> "Pubmed")
</div>


