@(frAdvanced:Form[DBviews.vAdvancedSearch], taxon: Map[String,String], tissue: Map[String,String])

@import helper._
@implicitFieldConstructor = @{ b3.inline.fieldConstructor }


@** views.html.search.querySelectData(tissue, taxon)  **@


<div class="taxonomy-div searchdiv">
    <h4>Biological Context</h4>
    <div class="bio-div">
        Taxonomy
        @b3.select(
        frAdvanced("taxonomy_id"),
        options(taxon),
        '_default -> "Not specified",
        '_showConstraints -> false,
        'multiple -> false
        )

        Tissue
        @b3.select(
        frAdvanced("tissue_taxonomy_id"),
        options(tissue),
        '_default -> "Not specified",
        '_showConstraints -> false,
        'multiple -> false
        )
    </div>
</div>
