@import service.UserProvider
@(  persubs: Map[String,String],
    redEnd: Map[String,String],
    taxon: Map[String,String],
    tissue: Map[String,String],
    refs: List[String],
    frAdvanced: Form[DBviews.vAdvancedSearch],
    frMSMS: Form[SearchMSMSForm],
    userProvider: UserProvider
)


@main(userProvider, "MIRAGE search"){

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/select2.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/select2-bootstrap.css")">
    <script src="@routes.Assets.versioned("javascripts/select2.js")"></script>

<script>
    $("#searchLink").addClass("active");
</script>

<div class="container-fluid content">
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-search" ></i> Search<span class="divider"></span></li>
    </ul>


    <section id="structureLayout">
        <section id="layouts">

            <div class="page-header row-fluid">
<!--                <h1>Search UniCarb-DR</h1>-->
                <h1>Search UniCarb-DR</h1>
                <h4 class="pull-left">Retrieve records from UniCarb-DR</h4>
                <!--<h4 class="pull-left">Retrieve records from UniCarb-DR</h4>-->
            </div>


            <div class="row-fluid">
                <div class="span3 search">
                    <div class="row-fluid">

                        <div class="filterbar tabbable clearfix">

                            <ul class="nav nav-tabs" id="myTabBar">
                                <li class="title">Select a query: </li>
                                <li class="active"><a href="#basic" data-toggle="tab">Basic Search<span class="pull-right count"></span></a></li>
                                <li><a href="#advanced" data-toggle="tab">Advanced Search<span class="pull-right count"></span></a></li>
                                <li><a href="#msms" data-toggle="tab">MS/MS<span class="pull-right count"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="span9 rightpanel">
                    <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <div class="tab-pane" id="tab1">
                            <div id="basic" class="control-group row-fluid glycosuitedb active">
                                <div id="tab7" class="span12" >
                                   @views.html.search.searchMultiCriteria(tissue, taxon, refs, frAdvanced)
                                 </div>
                            </div>

                            <div id="advanced" class="tab-pane control-group row-fluid basic">
                                <div id="tab1" class="span12" >

                                    @views.html.search.searchAdvanced(frAdvanced, persubs, redEnd, tissue, taxon)
                                </div>
                            </div>

                            <div id="msms" class="tab-pane control-group row-fluid basic">
                                <div id="tab3" class="span12" >
                                    @views.html.search.searchMSMS(frMSMS)
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="tab-content results">
                        @* start of tab2 *@
                        @* end of tab2 *@
                    </div>

                    <script>
                        // Javascript to enable link to tab
                        var hash = document.location.hash;
                        var prefix = "tab_";
                        if (hash) {
                            $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').tab('show');
                        }

                        // Change hash for page-reload
                        $('.nav-tabs a').on('shown', function (e) {
                            window.location.hash = e.target.hash.replace("#", "#" + prefix);
                        });
                    </script>

                </div>
            </div>
        </section>
    </section>
</div>





}
