@(tissue: Map[String,String], taxon: Map[String,String], refs: List[String], frAdvanced: Form[DBviews.vAdvancedSearch])

@import helper._
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }


@views.html.search.querySelectDataMulti(tissue, taxon, refs)


<div id="unicarbCriteria" class="controls">
    <span>The Basic Search allows you to search UniCarb-DR using a combination of fields: Taxonomy, Tissue and References.
        Choose one or several options from the list below and click Search</span>
    <label class="checkbox">
            <div id="selection" class="row-fluid;">

                @b3.form(routes.SearchController.searchBasic()) {
                    @b3.select(frAdvanced("e20"),
                    options(),
                    '_class -> "span10",
                    'multiple -> true)

                    @b3.free(){
                        <button type="submit" class="btn btn-primary pull-right">Search</button>
                    }
               }

            </div>
    </label>
</div>
