@(frMSMS: Form[SearchMSMSForm])
@import helper._
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }


@if(frMSMS.hasGlobalErrors) {
    <p class="error">
        @for(error <- frMSMS.globalErrors) {
            <p class="coral">@Messages(error.messages, error.arguments.toArray: _*)</p>
        }
    </p>
}


@b3.form(routes.SearchController.searchMSMS()) {
    <div class="searchdiv">
        <h4>Precursor Mass</h4>
        @b3.number(frMSMS("precursor"),
        'step -> "any",
        '_class -> "search-field short")
    </div>

    <div class="searchdiv">
        <h4>Error</h4>
        @b3.number(frMSMS("error"),
            'step -> "any",
            '_class -> "search-field short")

        @b3.radio(frMSMS("errorType"), '_class -> "search-radio"){ implicit extraInfo =>
            @b3.radioOption("m", Html("<span>mz</span>"), 'checked -> true)
            @b3.radioOption("p", Html("<span>ppm</span>"))
            @b3.radioOption("d", Html("<span>dalton</span>"))
        }
    </div>

    <div class="searchdiv">
        <h4>Fragmentation Error</h4>
        @b3.number(frMSMS("frError"),
        'step -> "any",
        '_class -> "search-field short")

        @b3.radio(frMSMS("frErrorType"), '_class -> "search-radio"){ implicit extraInfo =>
        @b3.radioOption("m", Html("<span>mz</span>"), 'checked -> true)
        @b3.radioOption("p", Html("<span>ppm</span>"))
        @b3.radioOption("d", Html("<span>dalton</span>"))
        }
    </div>

    <div class="searchdiv">
        <h4>Peak List</h4>
        @b3.textarea(frMSMS("peaks"), 'rows -> 15,  'placeholder -> "Paste your peak list here: one column for the mz/value and a second column for the respective intensities. The columns must be tab separated." )
        @b3.select(frMSMS("method"), options = Seq("d"->"dot product"), '_label -> "Select type" )
    </div>



    @b3.free(){
        <div class="row-fluid">
            <button type="submit" class="btn btn-primary pull-right">Search</button>
        </div>
    }
}






