@(frAdvanced: Form[DBviews.vAdvancedSearch], persubs: Map[String,String], redEnd: Map[String,String])

@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-8", "col-md-4") }



@if(frAdvanced.hasGlobalErrors) {
<p class="error">
    @for(error <- frAdvanced.globalErrors) {
<p class="coral">@Messages(error.messages, error.arguments.toArray: _*)</p>
}
</p>
}






<div class="composition-div searchdiv">
    <h4>Mass</h4>
    <div class="mass-div">
        @b3.number(frAdvanced("mass"),
        'min -> 0,
        'step -> "any",
        '_class -> "search-field short",
        'placeholder -> "Mass")

        @b3.radio(frAdvanced("massType"), '_class -> "search-radio"){ implicit extraInfo =>
        @b3.radioOption("r", Html("<span>Recorded</span>"), 'checked -> true)
        @b3.radioOption("c", Html("<span>Calculated (Monoisotopic, underivatised, uncharged)</span>"))
        }

        <script>
            $("input[name='massType']").on('change', function() {
                var val = $(this).val();
                $("#persId").prop("disabled", val != "r");
                $("#redEndId").prop("disabled", val != "r");

            });
        </script>

    </div>
    <div class="error-div">
        @b3.number(frAdvanced("error"),
        'min -> 0,
        'step -> "any",
        '_class -> "search-field short",
        'placeholder -> "Error")

        @b3.radio(frAdvanced("errorType"), '_class -> "search-radio") { implicit extraInfo =>
        @b3.radioOption("m", Html("<span>mz</span>"), 'checked -> true)
        @b3.radioOption("p", Html("<span>ppm</span>"))
        @b3.radioOption("p", Html("<span>dalton</span>"))
        }

    </div>
    <div class="pers-div">
            Persubstitution
            @b3.select(
            frAdvanced("persId"),
            options(persubs),
            '_default -> "Not specified",
            '_showConstraints -> false,
            'multiple -> false
            )

            Reducing End
            @b3.select(
            frAdvanced("redEndId"),
            options(redEnd),
            '_default -> "Not specified",
            '_showConstraints -> false,
            'multiple -> false
            )

    </div>
    <div class="charge-div">
        Charge
        @b3.number(frAdvanced("charge"), '_class -> "hidden-charge-input")
        @b3.text(frAdvanced("chargeMode"), '_class -> "hidden-charge-input")

        <div id="chargeContainer">
            <!-- TODO: Read limits of this slider in from database if possible -->
            <output id="chargeDisplay">Not specified</output>
            <input type="range" max="2" min="-3" id="chargeSlider"/>
        </div>
        <script>
        $(document).on('input', '#chargeSlider', function() {
            var value = $(this).val();
            if(value > 0) {
                $('#chargeMode').val("+");
                $('#chargeDisplay').val("+" + value);
            } else if(value < 0 ) {
                $('#chargeMode').val("-");
                $('#chargeDisplay').val(value);
            } else {
                $('#chargeMode').val( "" );
                $('#chargeDisplay').val("Not specified");
            }
            $('#charge').val( value );
        });
        </script>


    </div>

</div>


























    <div class="composition-div searchdiv">
        <h4>Composition</h4>
        <div class="hex-div">
            <h5>Hex</h5>
            @b3.radio( frAdvanced("selHex"),
                '_class -> "search-radio" ) { implicit extraInfo =>
                    @b3.radioOption("p", Html("<span>Include</span>"), 'checked -> true)
                    @b3.radioOption("n", Html("<span>Exclude</span>"))
                    @b3.radioOption("y", Html("<span>Include within range</span>"))
            }
            <div class="range-picker">
                @b3.number(frAdvanced("hex"),
                    '_class -> "range-input range-input-start",
                    'min -> 0,
                    'disabled -> true)
                <span class="range-input-to">to</span>
                @b3.number(frAdvanced("hex2"),
                    '_class -> "range-input range-input-end",
                    'min -> 0,
                    'disabled -> true)
            </div>

            <script>
            $("input[name='selHex']").on('change', function() {
                var val = $(this).val();
                $("#hex").prop("disabled", val != "y");
                $("#hex2").prop("disabled", val != "y");

                if(val == "y"){
                    $(".hex-div .range-input-to").addClass("to-active");
                } else {
                    $(".hex-div .range-input-to").removeClass("to-active");
                }
            });
            </script>
        </div>

        <div class="dhex-div">
            <h5>dHex</h5>
            @b3.radio( frAdvanced("selDHex"),
                '_class -> "search-radio" ) { implicit extraInfo =>
                    @b3.radioOption("p", Html("<span>Include</span>"), 'checked -> true)
                    @b3.radioOption("n", Html("<span>Exclude</span>"))
                    @b3.radioOption("y", Html("<span>Include within range</span>"))
                }
            <div class="range-picker">
                @b3.number(frAdvanced("dhex"),
                    '_class -> "range-input range-input-start",
                    'min -> 0,
                    'disabled -> true)
                <span class="range-input-to">to</span>
                @b3.number(frAdvanced("dhex2"),
                    '_class -> "range-input range-input-end",
                    'min -> 0,
                    'disabled -> true)
            </div>
            <script>
            $("input[name='selDHex']").on('change', function() {
                var val = $(this).val();
                $("#dhex").prop("disabled", $(this).val() != "y");
                $("#dhex2").prop("disabled", $(this).val() != "y");

                if(val == "y"){
                    $(".dhex-div .range-input-to").addClass("to-active");
                } else {
                    $(".dhex-div .range-input-to").removeClass("to-active");
                }
            });
            </script>
        </div>

        <div class="hexnac-div">
            <h5>HexNAc</h5>
            @b3.radio( frAdvanced("selHexNac"),
                '_class -> "search-radio" ) { implicit extraInfo =>
                    @b3.radioOption("p", Html("<span>Include</span>"), 'checked -> true)
                    @b3.radioOption("n", Html("<span>Exclude</span>"))
                    @b3.radioOption("y", Html("<span>Include within range</span>"))
            }
            <div class="range-picker">
                @b3.number(frAdvanced("hexnac"),
                    '_class -> "range-input range-input-start",
                    'min -> 0,
                    'disabled -> true)
                <span class="range-input-to">to</span>
                @b3.number(frAdvanced("hexnac2"),
                    '_class -> "range-input range-input-end",
                    'min -> 0,
                    'disabled -> true)
            </div>

            <script>
            $("input[name='selHexNac']").on('change', function() {
                var val = $(this).val();
                $("#hexnac").prop("disabled", $(this).val() != "y");
                $("#hexnac2").prop("disabled", $(this).val() != "y");

                if(val == "y"){
                    $(".hexnac-div .range-input-to").addClass("to-active");
                } else {
                    $(".hexnac-div .range-input-to").removeClass("to-active");
                }
            });
            </script>
        </div>

        <div class="neuac-div">
            <h5>NeuAc</h5>
            @b3.radio( frAdvanced("selNeuAc"),
                '_class -> "search-radio" ) { implicit extraInfo =>
                    @b3.radioOption("p", Html("<span>Include</span>"), 'checked -> true)
                    @b3.radioOption("n", Html("<span>Exclude</span>"))
                    @b3.radioOption("y", Html("<span>Include within range</span>"))
            }
            <div class="range-picker">
                @b3.number(frAdvanced("neuAc"),
                    '_class -> "range-input range-input-start",
                    'min -> 0,
                    'disabled -> true)
                <span class="range-input-to">to</span>
                @b3.number(frAdvanced("neuAc2"),
                    '_class -> "range-input range-input-end",
                    'min -> 0,
                    'disabled -> true)
            </div>

            <script>
            $("input[name='selNeuAc']").on('change', function() {
                var val = $(this).val();
                $("#neuAc").prop("disabled", $(this).val() != "y");
                $("#neuAc2").prop("disabled", $(this).val() != "y");

                if(val == "y"){
                    $(".neuac-div .range-input-to").addClass("to-active");
                } else {
                    $(".neuac-div .range-input-to").removeClass("to-active");
                }
            });
            </script>
        </div>

        <div class="neugc-div">
            <h5>NeuGc</h5>
                @b3.radio( frAdvanced("selNeuGc"),
                '_class -> "search-radio" ) { implicit extraInfo =>
                    @b3.radioOption("p", Html("<span>Include</span>"), 'checked -> true)
                    @b3.radioOption("n", Html("<span>Exclude</span>"))
                    @b3.radioOption("y", Html("<span>Include within range</span>"))
            }
            <div class="range-picker">
                @b3.number(frAdvanced("neuGc"),
                    '_class -> "range-input range-input-start",
                    'min -> 0,
                    'disabled -> true)
                <span class="range-input-to">to</span>
                @b3.number(frAdvanced("neuGc2"),
                    '_class -> "range-input range-input-end",
                    'min -> 0,
                    'disabled -> true)
            </div>
            <script>
                $("input[name='selNeuGc']").on('change', function() {
                    var val = $(this).val();
                    $("#neuGc").prop("disabled", $(this).val() != "y");
                    $("#neuGc2").prop("disabled", $(this).val() != "y");

                    if(val == "y"){
                        $(".neugc-div .range-input-to").addClass("to-active");
                    } else {
                        $(".neugc-div .range-input-to").removeClass("to-active");
                    }
                });
            </script>
        </div>
    </div>

    @**b3.free(){
        <div class="row-fluid">
            <h4></h4>
            <button type="submit" class="btn btn-primary pull-right">Search</button>
        </div>
    }**@

