@import service.UserProvider
@(userProvider: UserProvider)

@main(userProvider, "UniCarb-DR"){
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <div class="upload">
        <div class="container-fluid content">
            <div class="searchdiv">
                <h4>PubMed ID</h4>
                <div class="search-field short">
                    <input id="pid-input" type="number"/>
                </div>
                <button type="button" class="btn btn-primary" onclick="fetchDetails()">
                    Fetch details from PubMed
                </button>

                <h4>Title</h4>
                <div class="search-field long">
                    <input id="title-input" type="text"/>
                </div>

                <h4>Authors</h4>
                <div class="search-field long">
                    <input id="authors-input" type="text" class="search-field"/>
                </div>

                <h4>Journal</h4>
                <div class="search-field long">
                    <input id="journal-input" type="text"/>
                </div>

                <h4>Year</h4>
                <div class="search-field short">
                    <input id="year-input" type="text"/>
                </div>
            </div>
            <div class="searchdiv">
                <h4>Mirage File (.xls, .xlsx)</h4>
                <div class="search-field">
                    <input id="mirage-input" type="file" accept=".xls, .xlsx" onchange="parseMirage()"/>
                </div>
                <div id="mirage-output">

                </div>
            </div>
            <div class="searchdiv">
                <h4>GlycoWorkbench Files (.gwp)</h4>
                <div class="search-field">
                    <input id="gwp-input" type="file" multiple accept=".gwp" onchange="parseGwpNotes()"/>
                </div>
                <div id="gwp-mirage-results">

                </div>
            </div>
        </div>
    </div>

    <script>
        console.log("script start");
        var gwpFieldCount = 1;

        function fetchDetails(){
            // Example: 27456831
           var id = $("#pid-input").val();

           if(id != ""){
               $.getJSON("http://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi", {
                        "db": "pubmed",
                        "retmode": "json",
                        "id": id,
                        "rettype": "abstract"
                    }, function(data){
                        if(data.result.uids.length>0) {
                            var authorArray = data.result[id].authors;
                            var authorStr = "";

                            $.each(authorArray, function(index, author){
                                if(index == authorArray.length -1)
                                    authorStr += " and "
                                else if(authorStr != "") authorStr += ", ";

                                authorStr += author.name;
                            });

                            $("#authors-input").val(authorStr);

                            var title = data.result[id].title;
                            $("#title-input").val(title);

                            var journal = data.result[id].fulljournalname;
                            $("#journal-input").val(journal);

                            var year = data.result[id].pubdate.split(" ")[0];
                            $("#year-input").val(year);
                        }
                    }
               );
           }
        }

        function parseMirage(){
                console.log("parseMirage");
            var x = document.getElementById('mirage-input').files[0];

            var reader = new FileReader();

            reader.onload = function(e){
                var data = e.target.result;
                var workbook = XLSX.read(data, {type : 'binary'});

                var csv = XLSX.utils.sheet_to_csv(workbook.Sheets["MIRAGE Form"]);

                // Weird POC example of possible solution time. Due to bugs in XLSX SheetJS library and in jquery.csv,
                // I simply cannot get this to work any other way. Good luck!
                // TODO [EK]: Look at making this work with just using row numbers.
                var position = csv.search("Date stamp");

                var labelStartSubstr = csv.substr(position, csv.length-1);
                var valueStartSubstr = labelStartSubstr.substr(labelStartSubstr.search(",") + 1 , labelStartSubstr.length-1);
                var value = valueStartSubstr.substr(0, valueStartSubstr.search(","))
                console.log(valueStartSubstr);
                console.log(value);
            };

            reader.onerror = function(ex){
                console.log(ex);
            };

            reader.readAsBinaryString(x);
        };

        function parseGwpNotes() {
                console.log("parseGwpNotes");
            var gwp = document.getElementById('gwp-input').files[0];

            var reader = new FileReader();

            reader.onload = function(e){
                var text = e.target.result;
                xmlDoc = $.parseXML(text);
                $xml = $(xmlDoc);
                notes = $xml.find("Notes");
                fields = notes[0].innerHTML.split("\n");

                $.each(fields, function(index, field){
                    var splitField = field.split(": ");
                    var name = splitField[0];
                    var value = splitField[1];

                    if(splitField[0] != "") { // guard against empty lines.
                        if(!value) value = "";
                        $("#gwp-mirage-results").append(
                            "<span class='gwp-field'><label>" +
                                "<b>" + name + ": </b>" +
                                "<input required type='text' value='" + value.trim() + "'/>" +
                            "</label></span>");
                    }
                });
            };

            reader.onerror = function(ex){
                console.log(ex);
            };

            reader.readAsText(gwp);
        }

    </script>
}
