@(pLabeled: List[MS.PeakLabeled], simSpectra: Map[src.PairWrapper, Double])


@if(pLabeled.size()>2){

<ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a data-toggle="tab" href="#rplot">Spectra</a></li>
    <li><a data-toggle="tab" href="#complete">Complete Peak List</a></li>
    <li><a data-toggle="tab" href="#more">List of spectra for this structure</a></li>
</ul>


<div class="tab-content">
    <div class="tab-pane active" id="rplot">
        <div id="stgraph" style="width: 600px; height: 450px;"></div>
    </div>

    <div class="tab-pane" id="complete">
        <table class="computers table table-striped">
            <thead><tr>
                <th class="title header">Peak</th>
                <th class="title header">Intensity</th>
                <th class="title header">CCS</th>
            <tbody>
            for(p <- pLabeled){
            <tr>
                <td>p.mz_value</td>
                <td>p.intensity_value</td>
                <td>p.cSectionLabeled.ccs_value</td>
            </tr>
            if(p.pAnnotatedLabeled.size()>0){
            <tr>
                <td colspan="2">
                    <p>Annotations:</p>
                    for(q <- p.pAnnotatedLabeled){
                    q.fragmentation_type
                    <img class="sugar_image" src= {routes.GWPController.showImage(q.sequence_gws,session.get("notation"),"small")} height="18%", width="18%" alt=""/>
                    }
                </td>
            </tr>
            }
            }
            </tbody>
            </tr></thead>
        </table>
    </div>

    views.html.spectra.spectraSimilar(simSpectra)


</div>

}else{
<div class="tab-content">
    <h4>No spectra available</h4>
</div>
}

