@(simSpectra: Map[src.PairWrapper, Double])

<div class="tab-pane" id="more">

    @if(simSpectra.size != 0){
    <p>There are @simSpectra.size() similar spectra: </p>

    <div class="tab-pane" id="complete">
        <table class="computers table table-striped">
            <thead><tr>
                <th class="title header">Id</th>
                <th class="title header">Structure</th>
                <th class="title header">Score</th>
            </tr></thead>
            <tbody>
            @for((key, value) <- simSpectra) {
            <tr><td><p>@key.getid()</p></td><td><a href="/msData/@key.getid()"><img class="sugar_image" src=@{routes.GWPController.showImageId(key.getGlycanSeqId(), session.get("notation"), "extended" )} height="15%", width="15%" alt=""></a></td>
                <td>@("%.2f".format(value))</td></tr>
            }
            </tbody>

        </table>
    </div>

    }else{

    <p>There are not related spectra</p>
    }
</div>
