@(url: String, token: String, name: String, email: String)
Howdy @name,
<br />
<br />
<p>
    You or someone else requested a password reset for your account.<br />
    If that was not you or your intention, just relax and ignore this email.<br />
</p>
<p>
    If you wish to reset your password, all you need to do is <a href="@url">follow this link to reset your password</a>.
</p>
<p>
    Cheers,<br />
    <i>The UniCarb-DB team</i>
</p>