@(verificationUrl: String, token: String, name: String, email: String)
Howdy @name,
<br />
<br />
<p>
    To verify your e-mail address, <a href="@verificationUrl">now follow this link</a>.
</p>
<br />
<p>
    Cheers,<br />
    <i>The UniCarb-DB team</i>
</p>