@import service.UserProvider
@import service.{FormSample, StructureForm, StructureForms, FormLC, FormMS, FormStructure}
@import src.TableFragment
@(
        forms: Map[String,Form[_]],
        sampleOptions: Map[String, Map[String, String]],
        tables: List[TableFragment], userProvider: UserProvider)

@main(userProvider, "MIRAGE files"){

    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.versioned("stylesheets/mirageForms.css")'>

    <div id="loading-overlay" style="
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(250,250,250, 1);
        z-index: 12;">
    </div>
adding
    <div class="container-fluid content">
        <ul class="breadcrumb">
            <li><i class="icon-home" ></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>
            <li class="active"><i class="icon-upload" ></i>Generate<span class="divider"></span></li>
        </ul>
        <div class="page-header row-fluid">
            <h1 class="subheader span8">Excel file generation.</h1>
        </div>
        <p>The forms below mirror the structure of the excel file. The number of tabs is dependent on the options selected in the previous step, and
            all the data captured in the forms will be transcribed to the excel file. You can also click on the "Generate" button without filling in the forms. This action will generate an empty excel file.
            However, it is recommended to use the interfaces since some of the fields have been validated (and the list boxes use a defined language), which prevents
            validation errors later during the submission process.</p>
        <p>The fields marked with an * are required. However, if these data is not relevant for your experiment, you can use the value NA (Not applicable).</p>
        <br />
        <br />
        @helper.form(action = routes.GenerateController.uploadForm()) {
            <button type="submit" class="btn btn-primary">Generate</button>
            <div id="sheet-container" >

                <div id="sheet-btns">
                    <div id="sheet-btns-container"><!--
                        @if(forms.get("Sample") != null){
                        --><div id="sample-btn" class="sheet-btn">Sample Preparation</div><!--
                            }@if(forms.get("LC") != null){
                        --><div id="lc-btn" class="sheet-btn">LC settings</div><!--
                            }@if(forms.get("MS") != null){
                        --><div id="ms-one-btn" class="sheet-btn">MS part 1</div><!--
                        --><div id="ms-two-btn" class="sheet-btn">MS part 2</div><!--
                        }@if(forms.get("Sample") == null){
                        --><div id="sample-btn-line" class="sheet-btn-line"></div><!--
                        }@if(forms.get("LC") == null) {
                        --><div id="sample-btn-line" class="sheet-btn-line"></div><!--
                        }@if(forms.get("MS") == null) {
                        --><div id="sample-btn-line" class="sheet-btn-line"></div><!--
                    --><div id="sample-btn-line" class="sheet-btn-line"></div><!--
                    }--></div><!--
                --><div id="folder-end"></div>
                </div>
                <div class="sheet">


                    <div id="sample-sheet" style="display: none">
                   @if(forms.get("Sample") != null){ @views.html.dataUpload.sheets.samplesheet(forms.get("Sample"),forms.get("Tables"),sampleOptions,tables) }
                    </div>
                    <div id="lc-sheet">
                    @if(forms.get("LC") != null){ @views.html.dataUpload.sheets.lcsheet(forms.get("LC"), sampleOptions) }
                    </div>
                    <div id="ms-one-sheet">
                    @if(forms.get("MS") != null){ @views.html.dataUpload.sheets.mssheet(forms.get("MS"),forms.get("Tables"), tables, sampleOptions) }
                    </div>
                    <div id="ms-two-sheet">
                    @if(forms.get("MS") != null){ @views.html.dataUpload.sheets.mssheet2(forms.get("MS"),forms.get("Tables"), tables, sampleOptions) }
                    </div>

                </div>
            </div>
        }
    </div>
    <style>
            select::-ms-expand {
                width:12px;
                border:none;
                background:#fff;
            }
            .sheet{
                box-sizing: border-box;
                padding: 40px;
                border-bottom: solid 1px #DDDDDD;
                border-left: solid 1px #DDDDDD;
                border-right: solid 1px #DDDDDD;
                width: 100%;
                margin-top: -0px;
            }
            .sheet-btn{
                box-sizing: border-box;
                display: inline-block;
                margin: 0px;
                text-align: center;
                padding: 10px;
                width: 25%;
                border: solid 1px #DDDDDD;
                cursor: pointer;
                border-radius: 30px 30px 0px 0px;
                -webkit-margin-start: 0px;
                -webkit-margin-after: 0px;
                -moz-margin-start: 0px;
                overflow: hidden;
            }
            .sheet-btn-line{
                box-sizing: border-box;
                display: inline-block;
                margin: 0px;
                text-align: center;
                padding: 10px;
                width: 25%;
                border-bottom: solid 1px #DDDDDD;
                -webkit-margin-start: 0px;
                -webkit-margin-after: 0px;
                -moz-margin-start: 0px;
                overflow: hidden;
            }
            #sheet-btns{
                width: 100%;
                overflow: hidden;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
            }
            #sheet-btns-container{
                width: 70%;
                min-width: 600px;
                display: inline-block;
            }
            #sheet-container{
                display: inline-block;
                margin-top: 60px;
                width: 100%;
            }
            .footer{
                visibility: hidden;
            }
            #folder-end{
                width: 30%;
                box-sizing: border-box;
                display: inline-block;
                margin: 0px;
                padding: 17px;
                border: none;
                border-bottom: solid 1px #DDDDDD;
            }
    </style>
    <style>
            .red-star{
                color: #ff0000;
                font-size: 16px;
                padding-left: 4px;
            }
    </style>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
            $(document).ready(function(){
                $("#loading-overlay").hide(100);

                $(".val input, .val textarea").each(function () {
                    setStars($(this));
                });

                $(".val input, .val textarea").focus(function () {
                    $(this).css({ 'border': 'solid 1px #018FD5'});
                });
                $(".val input, .val textarea").focusout(function () {
                    validate($(this));
                });


                function setStars(element) {
                    if($(element).val() == ""){
                        el = $(element).parent().parent().parent();
                        $(el).siblings(".red-star").css('color', '#ff0000');
                    }else {
                        el = $(element).parent().parent().parent();
                        $(el).siblings(".red-star").css('color', '#aaaaaa');
                    }
                }

                function validate(element) {
                    if($(element).val() == ""){
                        $(element).css({ 'border': 'solid 1px #ff0000'});
                        el = $(element).parent().parent().parent();
                        $(el).siblings(".red-star").css('color', '#ff0000');
                    }else {
                        $(element).css({ 'border': ''});
                        el = $(element).parent().parent().parent();
                        $(el).siblings(".red-star").css('color', '#aaaaaa');
                    }
                }

                var fileList = [];
                var sheets = [
                    {element: $("#sample-sheet"), btn: $("#sample-btn")},
                    {element: $("#lc-sheet"),btn: $("#lc-btn")},
                    {element: $("#ms-one-sheet"),btn: $("#ms-one-btn")},
                    {element: $("#ms-two-sheet"),btn: $("#ms-two-btn")}
                ];

                var sheetClick = function(element){
                    for(var e in sheets){
                        if(sheets[e].btn.text() == element.text()){
                            sheets[e].element.css("display","block");
                            sheets[e].btn.css({"border-bottom": "hidden", "background-color": "inherit"});
                        } else {
                            sheets[e].element.css("display", "none");
                            sheets[e].btn.css({"border-bottom": "solid 1px #dddddd", "background-color": "#f0f0f0"});
                        }
                    }
                };

                $(".sheet-btn").click(function (e) {
                    sheetClick($(e.target));
                });

                if ($("#sample-btn").length){
                    sheetClick($("#sample-btn"));
                } else if ($("#lc-btn").length){
                    sheetClick($("#lc-btn"));
                } else if ($("#ms-one-btn").length){
                    sheetClick($("#ms-one-btn"));
                }


                $(window).keydown(function(event){
                    if(event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });

                // Check if browser is Firefox, if so add date picker
                if(typeof InstallTrigger !== 'undefined'){
                    $( function() {
                        $(".date-stamp dd input").datepicker();
                        $(".date-stamp dd input").datepicker("option", "dateFormat", "yy-mm-dd");
                    } );
                }

                $(".date-stamp dd input").change(function (e) {
                    var text = $(e.target).val();
                    $(".date-stamp dd input").each(function() {
                        $(this).val(text);
                        setStars($(this));
                    });
                });
                $(".responsible dd input").change(function (e) {
                    var text = $(e.target).val();
                    $(".responsible dd input").each(function() {
                        $(this).val(text);
                        setStars($(this));
                    });
                });
                $(".affiliation dd input").change(function (e) {
                    var text = $(e.target).val();
                    $(".affiliation dd input").each(function() {
                        $(this).val(text);
                        setStars($(this));
                    });
                });
                $(".contactInformation dd input").change(function (e) {
                    var text = $(e.target).val();
                    $(".contactInformation dd input").each(function() {
                        $(this).val(text);
                        setStars($(this));
                    });
                });

                $(".table-fragment-softwareTwo-input-container").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareTwo-column0 select"), $(".table-fragment-softwareThree-column0 select"));
                });
                $(".table-fragment-softwareTwo-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareTwo-column0 select"), $(".table-fragment-softwareThree-column0 select"));
                });
                $(".table-fragment-softwareThree-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareTwo-column0 select"), $(".table-fragment-softwareThree-column0 select"), true);
                });
                $(".table-fragment-softwareFour-input-container").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareFour-column0 select"), $(".table-fragment-softwareFive-column0 select"));
                });
                $(".table-fragment-softwareFour-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareFour-column0 select"), $(".table-fragment-softwareFive-column0 select"));
                });
                $(".table-fragment-softwareFive-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareFour-column0 select"), $(".table-fragment-softwareFive-column0 select"), true);
                });
                $(".table-fragment-softwareSix-input-container").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareSix-column0 select"), $(".table-fragment-softwareSeven-column0 select"));
                });
                $(".table-fragment-softwareSix-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareSix-column0 select"), $(".table-fragment-softwareSeven-column0 select"));
                });
                $(".table-fragment-softwareSeven-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareSix-column0 select"), $(".table-fragment-softwareSeven-column0 select"), true);
                });

                function setUpSoftwareList(fromElement, toElement, last) {
                    var opList = [];
                    fromElement.each(function () {
                        opList.push($(this).val());
                    });

                    if(last){
                        toElement.last().find('option').remove();
                        for (var o in opList){
                            toElement.last().append('<option value="' + opList[o] + '">' + opList[o] + '</option>');
                        }
                    } else {
                        toElement.each(function () {
                            if ($.inArray($(this).val(), opList) != -1){
                                var selected = $(this).val();
                                $(this).find('option').remove();
                                for (var o in opList){
                                    $(this).append('<option value="' + opList[o] + '">' + opList[o] + '</option>');
                                }
                                $(this).val(selected);
                            } else {
                                $(this).find('option').remove();
                                for (var o in opList){
                                    $(this).append('<option value="' + opList[o] + '">' + opList[o] + '</option>');
                                }
                            }

                            console.log($(this).val());
                        });
                    }

                }

            });
    </script>
}
