@import service.GenerateMirageForm
@(mirageForm: Form[GenerateMirageForm])

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }



<div id="unicarbCriteria" class="controls">
    <span></span>
    <label class="checkbox">
        <div id="selection" class="row-fluid;">
        <br />

            @*   @b3.form(routes.GenerateController.generateForm(), 'onsubmit -> "return loadScreen();"){ *@
            @helper.form(action = routes.GenerateController.generateForm(), 'onsubmit -> "return loadScreen();"){
            @* @b3.form(routes.GenerateController.generateFile()){ *@
            @*<div >
                <div class="ms-label"><p></p></div>
                <div class="ms-input">@helper.select(
                    field = mirageForm("genIonSource"),
                    options = Seq("ESI-MS" -> "ESI-MS", "ESI-MS/MS" -> "ESI-MS/MS", "MALDI-MS" -> "MALDI-MS", "MALDI-MS/MS" -> "MALDI-MS/MS"),
                    '_label -> null)
                </div>
            </div>
            <br />*@

            <h4>Sheets</h4>
            <br />
                <h6 id="error-message" style="color: red; display: none">You must select at least one sheet.</h6>

            @b3.multiCheckbox(
                (mirageForm("genSamplePrep"), Seq('_text -> "MIRAGE-Sample Preparation")),
                (mirageForm("genLCMS"), Seq('_text -> "LC as part of Mass Spectrometry")),
                (mirageForm("genMSMirage"), Seq('_text -> "MIRAGE-MS"))
            )('_label -> null, 'class -> "multi-checkbox-list")
            <br />
            <br />
                @*    <br /><br />

            <h4>Post-source componentry</h4>
            <br />
            @if(mirageForm.errors.contains("genComponentry")){
                <h6 id="error-message" style="color: red">You must select at least one Post-source componentry option.</h6>
            }
            @b3.multiCheckbox(
                (mirageForm("genCID"), Seq('_text -> "CID")),
                (mirageForm("genETD"), Seq('_text -> "ETD")),
                (mirageForm("genECD"), Seq('_text -> "ECD"))
            )('_label -> "Collision Cell", 'class -> "multi-checkbox-list")
            <br /><br />
            <br />
            <br />
            @b3.checkbox(mirageForm("genTOF"), '_text -> "TOF drift tube")
            @b3.checkbox(mirageForm("genIonTrap"), '_text -> "Ion trap")
            @b3.checkbox(mirageForm("genIonMobility"), '_text -> "Ion mobility")
            @b3.checkbox(mirageForm("genFTICR"), '_text -> "FT-ICR")
            @b3.checkbox(mirageForm("genDetectors"), '_text -> "Detectors")

*@
            <br />
            @* @b3.select(mirageForm("manufacturer"),
                helper.options(GenerateMirageForm.InstrumentOptions()), '_label -> "Instrument Manufacturer"
            )
            @b3.select(mirageForm("model"),
                helper.options(), '_label -> "Instrument Model"
            )

            @b3.select(mirageForm("lcMaterial"),
                helper.options(GenerateMirageForm.lcMaterialOptions()), '_label -> "LC Material"
            ) *@

            <br />
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Next</button>
        }

        </div>
    </label>
</div>
<div id="loading-overlay" style="
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(200,200,200, 1);
    z-index: 12;">
  <div id="loading-info" style="position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12px;
      text-align: center;
      width: 680px;
      height: 200px;
      border-radius: 4px;
      transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);">
      <img src="../assets/images/wait.gif" style="width: 160px; margin: 20px"> <span style="font-size: 80px; vertical-align: middle">UniCarb-DB</span>
  </div>
</div>

<script>
        function loadScreen() {
            var submit = false;

            if($("#genSamplePrep").prop("checked") || $("#genLCMS").prop("checked") || $("#genMSMirage").prop("checked")){
                submit = true;
            } else {
                $("#error-message").show();
            }

            return submit;
        }
        $(document).ready(function(){
            $(".checkbox").change(function () {
                $("#error-message").hide();
            });
        });
</script>
