@import service.UserProvider
@import service.GenerateMirageForm
@(sub: String, mirageForm: Form[GenerateMirageForm], userProvider: UserProvider)

@main(userProvider, "MIRAGE files"){
    <div class="generate">
        <div class="container-fluid content">
            <ul class="breadcrumb">
                <li><i class="icon-home" ></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>
                <li class="active"><i class="icon-download" ></i>MIRAGE<span class="divider"></span></li>
            </ul>

            <div class="row-fluid info">
                <p class="row-fluid">
                    <div class="page-header row-fluid">
                        <h1 class="subheader span8">MIRAGE data submission requirements</h1>
                    </div>
                    <p>The Minimum Information Required for a Glycomics Experiment (MIRAGE) guidelines seek to facilitate the reproduction of experimental work
                        in glycomics by improving the quality of published data. UniCarb-DB is the first database to implement a framework for the support of
                        <a href="http://www.beilstein-institut.de/en/projects/mirage/guidelines#mass_spectrometric_analysis" target="_blank">MS</a> and
                        <a href="http://www.beilstein-institut.de/en/projects/mirage/guidelines#sample_preparations" target="_blank">Sample preparation</a>
                        compliant data. </p>

                    <p>Besides sample preparation and MS guidelines, UniCarb-DB also collects HPLC settings. The submission process allows to capture all these data
                        online. However, in order to facilitate data submission, we have designed an excel file that can be uploaded when completed. The collection of data
                        specific for each structure follows a different workflow. In this case, it is necessary to create a Glycoworkbench file (extension gwp). </p>


                    <p>The submission process differentiates two types of data that can be described as a) general for the experiment and b) specific for each structure in the experiment.
                        A file format has been implemented for both types of data, a Glycoworkbench file (extension gwp) for the former and an excel file for the latter. These files can
                        be uploaded to UniCarb-DB through the submission system. For each structure, this file includes a peak list, a scan name, and a series of attributes that can be
                        described in the notes section <a href="#" target="_blank">(See image)</a>. The submission process cannot be completed if the gwp file is not provided.</p>

                    <p>Below both files are available to download. If you have any question, please do not hesitate to contact us at admin at unicarb-db.org.</p>

                    <br/><br/>
                    <h4>GlycoWorkbench file.</h4>
                    <hr>
                    <p>This file contains a single structure that can be used as example for the addition of new data. More than one file can be used when the number of structures is too big.</p>

                    <br />
                    <a href="@routes.Assets.versioned("samplefiles/UniCarb-DB-Sample.gwp")" target="_blank" style="font-size: 15px; margin-left: 20px">
                    Download sample Glycoworkbench file
                    </a>

                    <br/><br/>
                    <br/><br/>
                    <h4>Excel file.</h4>
                    <hr>
                    <p>This file can be personalized to better fit your experiment. Please, start by choosing your setup.
                    </p>

                    @views.html.generateFiles.generateSearch(mirageForm)

                </div>
            </div>
        </div>
    </div>
}
