.ms-input-box-head{
    padding-left: 24px;
}
.ms-input-box-label{
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
    width: 200px;
    padding-bottom: 10px;
    padding-left: 22px;
    margin: 0px;
}

.ms-input-box-label-end{
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
    width: 160px;
    padding-bottom: 10px;
    padding-left: 22px;
    margin: 0px;
}
.ms-input-box{
    margin-top: 10px;
}
.ms-input-box-numb{
    display: inline-block;
}
.ms-input-box-col{
    display: inline-block;
}
.ms-input-box-numb p{
    text-align: right;
    margin-bottom: 8px;
}
.ms-input-box-col input{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.ms-input-box-col select{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.ms-input-box-item{
    display: block;
    margin: -7px;
    margin-bottom: -16px;
    padding: 0px;
}

.ms-input{
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.ms-row{
    height: 40px;
    margin: 0px;
    padding: 0px;
}
.ms-label{
    display: inline-block;
    width: 280px;
}
.ms-label label{
    width: 280px;
}
.ms-area-label{
    width: 560px;
    display: block;
}
.ms-head{
    padding-top: 40px;
}
#ms-table textarea{
    width: 490px;
}

.select2-container{
    margin-top: -16px;
}




.number-field input[type="number"]{
    width: 206px;
}




.ms-input{
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.ms-row{
    height: 40px;
    margin: 0px;
    padding: 0px;
}
.ms-label{
    display: inline-block;
    width: 280px;
}
.ms-label label{
    width: 280px;
}
.ms-area-label{
    width: 560px;
    display: block;
}
.ms-head{
    padding-top: 40px;
}
#ms-table textarea{
    width: 490px;
}




