@font-face {
  font-family: "streamline-icons";
  src: url("../fonts/streamline-icons.eot");
  src: url("../fonts/streamline-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/streamline-icons.ttf") format("truetype"), url("../fonts/streamline-icons.svg#streamline-icons") format("svg"), url("../fonts/streamline-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "streamline-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "streamline-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icon-02:before {
  content: "b";
}
.icon-icon-03:before {
  content: "c";
}
.icon-icon-04:before {
  content: "d";
}
.icon-icon-05:before {
  content: "e";
}
.icon-icon-06:before {
  content: "f";
}
.icon-icon-07:before {
  content: "g";
}
.icon-icon-08:before {
  content: "h";
}
.icon-icon-01:before {
  content: "a";
}
.icon-fontawesome-webfont:before {
  content: "i";
}
.icon-fontawesome-webfont-1:before {
  content: "j";
}
.icon-fontawesome-webfont-2:before {
  content: "k";
}
.icon-cart-add:before {
  content: "o";
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  line-height: 22px;
  color: #0c171e;
  margin: 0;
  min-width: 940px;
}
img {
  max-width: none;
}
a:hover {
  color: #0c171e;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  list-style-position: inside;
}
h1,
h2,
h3,
h4 {
  line-height: 1em;
  margin: 0;
}
h1 {

  font-weight: 300;
  margin: 36px 0 60px 0;
  letter-spacing: -0.01em;
}
h3 {
  margin: 36px 0 24px 0;
color
}
.container-gray h5 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 12px;
  text-transform: uppercase
}

.container-menu {
  background: #52dbeb;
}
.container-menu .container {
  padding: 24px 0;
}
.container-menu ul {
  text-align: right;
  margin-top: 10px;
}
.container-menu ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
.container-menu ul li a {
  color: #138694;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 18px;
}
.large {
  font-size: 21px;
  line-height: 30px;
}
.huge {
  font-size: 26px;
}
.small {
  font-size: 13px;
  margin: 6px 0;
  line-height: 16px;
}
.medium {
  font-size: 16px;
  line-height: 21px;
}
.thin {
  font-weight: 300;
}
.strong {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
i {
  font-style: normal;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.strike {
  position: relative;
  display: inline-block;
  font-size: inherit;
}
.strike::before {
  content: '';
  border-bottom: 1px solid #8f1620;
  width: 100%;
  position: absolute;
  right: 0;
  top: 40%;
}
.aqua {
  color: #24bfd0;
}
.gray {
  color: #636363;
}
.grayMedium {
  color: #919598;
}
.coral {
  color: #fd727d;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  position: relative;
  padding: 48px 0;
  overflow: visible;
}
.container-white {
  background: #fff;
}
.container-blue {
  background: #57AfE6;
}
.container-gray {
  background: #f6f6f6;
  border-top: 1px solid #d7dddd;
  border-bottom: 1px solid #d7dddd;
}
.container-aqua {
  background: #e0f8fa;
}
.btn span {
  font-weight: 400;
  font-size: 13px;
  color: #8f1620;
  margin-bottom: 0;
  text-shadow: none;
}
.btn a {
  color: #fff;
}
.btn-huge {
  padding: 24px 48px;
  font-size: 24px;
  line-height: 24px;
}
.btn-line {
  font-weight: 400;
  padding: 12px 18px;
  font-size: 18px;
  background: #fff;
  color: #fd727d;
  border-radius: 3px;
  border: 1px solid #fd727d;
  cursor: pointer;
  display: inline-block;
  transition: all 0.1s ease;
}
.btn-line:hover {
  border: 1px solid #ed4452;
}
.block-share {
  overflow: hidden;
  border: 1px solid #d7dddd;
  border-radius: 6px;
  margin-bottom: 60px;
  background: #fff;
  text-align: center;
  padding: 40px;
  color: #636363;
}
.block-share:before {
  font-size: 24px;
  position: relative;
  top: 3px;
}
.footer-space {
  margin-top: 90px;
}
.footer {
  text-align: center;
}
.footer .small {
  font-size: 13px;
  clear: both;
  color: #636363;
  margin: 16px 0;
  font-weight: 300;
}
.footer-links {
  text-align: center;
}
.footer-links li {
  display: inline-block;
  margin-right: 24px;
  font-size: 13px;
}
.footer-links li a {
  color: #636363;
}
.menu-home {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 0 0 0;
}
.menu-home a {
  color: #138694;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 18px;
}
.container-hero {
  background-color: #52dbeb;
  background-image: url("../img/illustration-3.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 510px;
  overflow: hidden;
}
.container-hero .container {
  position: relative;
  padding: 48px 0 0 0;
}
.container-hero h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px 1px #24bfd0;
  margin-top: 20px;
}
.container-blue h1 {
  font-size: 60px;
  line-height: 75px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5 px;
}
.top-icons {
  text-align: center;
  font-size: 14px;
  padding: 24px 0;
  text-transform: capitalize;
  overflow: hidden;
}
.top-icons .top-icon {
  font-size: 70px;
  line-height: 70px;
  height: 70px;
  vertical-align: top;
  color: #636363;
  text-align: center;
}
.top-icons p {
  clear: both;
  margin: 0;
}
.top-icons a {
  color: #636363;
}
.top-icons a:hover {
  color: #fd727d;
}
.cta .container {
  padding: 36px 0;
}
.cta .container .btn-huge {
  font-weight: 200;
  text-shadow: none;
}
.cta .container .btn-huge:before {
  font-size: 36px;
  text-shadow: none;
  margin-right: 10px;
  line-height: 0;
  position: relative;
  top: 8px;
}
.free-icons-link {
  color: #636363;
  padding-top: 16px;
}
.free-icons-link a {
  text-decoration: underline;
  color: #636363;
}
.free-icons-link a:hover {
  color: #fd727d;
}
span.top-icon {
  transition: all 0.1s ease;
}
span.top-icon:hover {
  color: #fd727d !important;
}
h2 {
  margin-top: 16px;
  font-weight: 500;
  font-size: 32px;
}
.subheader {
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 30px;
  font-weight: 300;
  color: #636363;
}
.container-blue subheader {
  font-size: 20px;
  line-height: 36px;
  margin-top: 4px
}
.btn-preview {
  margin-top: 48px;
}
.btn-preview:before {
  font-family: "streamline-icons";
  content: "e";
  font-size: 30px;
  font-style: 300;
  margin-right: 10px;
  position: relative;
  top: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.feature-blocks {
  width: 200px;
  margin-right: 20px;
  padding-top: 36px;
  position: relative;
}
.feature-blocks p.small {
  clear: both;
  margin-top: 24px;
  float: left;
  color: #636363;
  font-weight: 300;
}
.feature-blocks .use-1 {
  position: absolute;
  top: 360px;
  right: 50px;
}
.feature-blocks .use-2 {
  position: absolute;
  top: 350px;
  right: 20px;
}
.feature-block {
  padding: 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  float: left;
  font-size: 10px;
  width: 90px;
  height: 90px;
  margin: 0 10px 10px 0;
}
.feature-block p {
  clear: both;
  margin: 0;
  padding: 5px 0;
  line-height: 0;
  color: #636363;
}
.feature-block span {
  font-size: 36px;
  line-height: 70px;
}
.feature-block .huge {
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  color: #cbcbcb;
}
.block {
  overflow: hidden;
  border: 1px solid #d7dddd;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block-header {
  border-bottom: 1px solid #d7dddd;
}
.block-header p {
  font-size: 16px;
  line-height: 24px;
}
.block-header h2 {
  font-size: 36px;
  font-weight: 4;
  color: #24bfd0;
}
.block-header h2 span {
  font-weight: 100;
  margin-left: 12px;
  font-size: 21px;
  border-left: 1px solid #24bfd0;
  padding-left: 6px;
}
.block-header .span8,
.block-header .span4 {
  padding: 20px;
}
.block-header .span4 {
  width: 298px;
  padding-top: 48px;
}
.block-header .span4 i {
  font-weight: 100;
}
.block-header .span4 p {
  padding: 3px;
  margin: 0;
  font-size: 13px;
  color: #919598;
  line-height: 12px;
}
.block-header .span4 p a {
  color: #919598;
  text-decoration: underline;
}
.block-header .span4 p a:hover {
  color: #fd727d;
}
.block-content {
  background: #f6f6f6;
}
.block-content .span4 {
  padding: 20px;
  color: #636363;
}
.block-content .span4:last-child {
  width: 298px;
}
.block-content .span4 img {
  margin: 0 0 8px 0;
}
.block-content h3 {
  font-size: 16px;
  margin-top: 16px;
  font-weight: 500;
  text-align: center;
}
.block-content h3 i {
  font-weight: 300;
}
.btn-cart {
  font-size: 21px;
}
.btn-cart i {
  font-size: 16px;
  font-weight: 130;
  font-style: normal;
  margin-left: 6px;
}
.block-in-pack {
  color: #636363;
  border-top: 1px solid #d9d9d9;
}
.block-in-pack .list-check {
  margin: 0;
}
.block-in-pack .list-check li {
  margin: 6px 0;
  line-height: 16px;
  font-size: 13px;
}
.block-in-pack .span12 {
  padding: 20px;
}
.speech {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
}
.speech .medium {
  margin-top: 24px;
  font-style: normal;
  color: #636363;
  float: left;
  clear: none;
  margin: 12px 0 32px 16px;
  line-height: 18px;
  font-size: 14px;
}
.speech img {
  float: left;
  position: relative;
  top: 14px;
}
.list-check li {
  margin: 24px 0;
  line-height: 22px;
}
.list-check li:before {
  font-family: "streamline-icons";
  content: "a";
  margin-right: 6px;
  color: #2fa945;
  top: 2px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list-check li strong {
  font-weight: 500;
}
.list-cross li {
  margin: 24px 0;
  line-height: 22px;
}
.list-cross li:before {
  font-family: "streamline-icons";
  content: "n";
  margin-right: 6px;
  top: 2px;
  position: relative;
  color: #f43e35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list-cross li strong {
  font-weight: 500;
}
.list-cart li {
  margin: 24px 0;
  line-height: 22px;
}
.list-cart li:before {
  font-family: "streamline-icons";
  content: "o";
  margin-right: 12px;
  top: 2px;
  position: relative;
  color: #008fcb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list-cart li strong {
  font-weight: 500;
}
.countdown {
  clear: both;
  padding: 0;
  line-height: 12px;
  margin-bottom: 6px;
}
.countdown span {
  color: #fd727d;
  margin-right: 10px;
  font-size: 12px;
}
