@import service.UserProvider
@import be.objectify.deadbolt.java.views.html._
@import play.api.Logger

@(userProvider: UserProvider)
@{val logger: Logger = Logger(this.getClass());
logger.error("testUserProvider")}



@subjectPresentOr() {
    @defining(userProvider.getUser(session())) { user =>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @user.name <span class="caret"></span></a>

        <ul class="dropdown-menu" role="menu">
<!--          <li><a href="@routes.HomeController.signup()">Profile</a></li>   -->
            <li><a href="@routes.HomeController.profile()">Profile</a></li>
            <li class="divider"></li>
            <li><a href="@routes.HomeController.uploadIndex()" >Submit data</a></li>
            <li class="divider"></li>
            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i>Logout</a></li>
        </ul>
    </li>
    }
} {
    <li id="loginLink"><a href="@routes.HomeController.login()">Login</a></li>
    <li id="libLink"><a href="@routes.HomeController.signup()">Register</a></li> 
}
