@import service.UserProvider
@import play.api.Logger

@(userProvider: UserProvider)

@{val logger: Logger = Logger(this.getClass());
logger.error("testUserProvider from mainheader")}

<div id = "topNavBar" class="navbar" >
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav">
                <li><img src='@routes.Assets.versioned("images/UniCarbDB_Logo_white.svg")'/></li>
                <li id="homeLink"><a href="@routes.HomeController.index()" style="font-size: 18px;">UniCarb-DR</a></li>

                <li class="navbar-text">&nbsp | &nbsp </li>
                <li id="MIRAGELink"><a href="@routes.GenerateController.generate()">MIRAGE</a></li>
                <!-- above code should be in the code but it does not work due to argument error -->
                <li class="navbar-text">&nbsp | &nbsp </li>
                <li id="aboutLink"><a href="@routes.HomeController.about()">About</a></li>
            </ul>


<!--                <li class="navbar-text">&nbsp | &nbsp </li>
                <li id="searchLink"><a href="@routes.HomeController.signup()">Register</a></li>
                <li class="navbar-text">&nbsp | &nbsp </li>
                <li id="searchLink"><a href="@routes.GenerateController.generate()">Mirage</a></li>-->



            <div id="headersearch" class="pull-right">
                <ul class='nav'>
                    <!-- <li id="loginlink"><a href="@routes.HomeController.login()">Login</a></li>
                    <li id="libLink"><a href="@routes.HomeController.signup()">Register</a></li> -->
                    @views.html.headerfooter.loginMenu(userProvider)
                </ul>
            </div>

            <script>
                $("#topNavBar .nav a").on("click", function(){
                    $(".nav").find(".active").removeClass("active");
                    $(this).parent().addClass("active");
                });
            </script>

        </div>
    </div>
</div>
