<div class="footer row-fluid">
    <div class="span12">
        <p class="pull-left">UniCarb-DR <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="@routes.Assets.versioned("images/cc_80x15.png")" /></a></p>
        <p class="pull-right">Supported by
            <a href="http://www.nectar.org.au">Nectar</a> &nbsp;|&nbsp;
            <a href="http://www.ands.org.au">ANDS</a> &nbsp;|&nbsp;
            <a href="http://www.stint.se">STINT</a> &nbsp;|&nbsp;
            <a href="http://expasy.org/">SIB ExPASy</a> &nbsp;|&nbsp;
            <a href="http://glycogastromics.biomedtrain.eu">GGE</a>
        </p>
    </div>
</div>
