@import service.UserProvider
@import be.objectify.deadbolt.java.views.html._

@(userProvider: UserProvider)




@subjectPresentOr() {
@defining(userProvider.getUser(session())) { user =>
    <li id="refsLink">
        <a href="@routes.HomeController.listReferences()" title="@DBviews.vReferences.getToolTipText()">References</a>
    </li>
}
} {

}