<!--
  ~ Copyright (c) 2014. Copyright (c) 2014. Matthew Campbell
  ~
  ~ The program can not be distributed to others with out the consent of the copyright holder, until such a time that the copyright holder has released the code for public use.
  -->

<div class="info">
    <h3>Structure Format</h3>
    <a href="/format/cfg"><span class='label label-dark'><span class='icon-adjust icon-white'></span> SNFG</span></a>
    <a href="/format/uoxf"><span class='label label-dark'><span class='icon-stop icon-white'></span> Oxford</span></a>
    <a href="/format/iupac"><span class='label label-dark'><span class='icon-stop icon-white'></span> Text</span></a>
</div>
