@(bio: DBviews.vBiologicalContext)

<div class="info">
    <h3>Biological Context</h3>

        <div class='taxonomy'>
            <a href="https://www.ncbi.nlm.nih.gov/taxonomy/?term=@bio.ncbi_id" target="_blank"><span class='label label-important'>Taxonomy - @bio.taxon </span></a>
        </div>
        <div class='source'>
            <a href="https://www.ncbi.nlm.nih.gov/mesh/?term=@bio.mesh_id" target="_blank"><span class='label label-important'> Tissue - @bio.tissue_taxon </span></a>
        </div>

        @if(bio.glycoprotein_name  != null){
            <div class='source'>
                <a><span class='label label-important'> Glycoprotein - @bio.glycoprotein_name </span></a>
            </div>
        }


</div>
