@(bio: List[DBviews.vBCToJournal])

<div class="info">
    <h3>Biological Context</h3>

    @for(bc <- bio){
        <div class='taxonomy'>
            <a href="https://www.ncbi.nlm.nih.gov/taxonomy/?term=@bc.ncbi_id" target="_blank"><span class='label label-important'> Taxonomy - @bc.taxon </span></a>
        </div>
        <div class='source'>
            <a href="https://www.ncbi.nlm.nih.gov/mesh/?term=@bc.mesh_id" target="_blank"><span class='label label-important'> Tissue - @bc.tissue_taxon </span></a>
        </div>


        @if(bc.glycoprotein_name  != null){
                <div class='source'>
                    <a><span class='label label-important'> Glycoprotein - @bc.glycoprotein_name </span></a>
                </div>
        }

        @if(bc.cell_line_name != null){
            <div class='source'>
                <a><span class='label label-important'> Cell line - @bc.cell_line_name </span></a>
            </div>
        }


    }
</div>

