@(lc: DBviews.vLC)

<div class="info">
    <h3>HPLC</h3>

    <div class='taxonomy'>
        <p><b>Column </b>@if(lc.model != null){@lc.model } else {Not recorded}  </p>
    </div>
    <div class='source'>
        <p><b>Method </b>
        <ul>
            <li style="list-style-type:circle;">@if(lc.runrate != null) {@lc.runrate} else { Run time not recorded }</li>
            @if(lc.solvent_a != null ){<li style="list-style-type:circle;">@lc.solvent_a</li> }
            @if(lc.solvent_b != null ){<li style="list-style-type:circle;">@lc.solvent_b</li> }
        </ul>
    </div>

</div>
