@(massSpec: DBviews.vMassSpec)

<div class="info">
    <h3>Mass Spec</h3>

    <div class='taxonomy'>
        <p>@massSpec.manufacturer_name @massSpec.model @massSpec.ionisation_type</p>
    </div>
</div>
