@(mStruct: DBviews.vMirageStructures)



<div class="info">

    <a onclick="toggle_visibility('foo');"><h3>MIRAGE Structural data <img src="@routes.Assets.versioned("images/icons/icon_arrow.png")"></h3></a>

    <div class='taxonomy'>
        <div id="foo" style="display:none;">
            <p><b>Precursor </b>@mStruct.base_peak_mz</p>
            <p><b>Retention time </b>@mStruct.retention_time</p>
            <p><b>Stability </b>@mStruct.stability</p>
            <p><b>Orthogonal approaches </b>@mStruct.orthogonal_approaches</p>
            <p><b>Quantity </b>@mStruct.quantity</p>
            <br>
            <p><b>Database </b>@mStruct.name_database</p>
            <p><b>Taxonomical restrictions </b>@mStruct.taxonomical_restrictions</p>
            <p><b>Other restrictions </b>@mStruct.other_restrictions</p>
            <p><b>Allowed cleavages </b>@mStruct.allowed_cleavages</p>
            <p><b>Parent error </b>@mStruct.parent_error</p>
            <p><b>Fragment error </b>@mStruct.fragment_error</p>
            <p><b>Mass accuracy </b>@mStruct.mass_accuracy</p>
            <p><b>Scoring method </b>@mStruct.scoring_method</p>
            <p><b>Scoring algorithm </b>@mStruct.scoring_algorithm</p>
            <p><b>Scoring result </b>@mStruct.scoring_result</p>
            <p><b>Scoring value format </b>@mStruct.scoring_format</p>
            <br>
            <p><b>Validation status </b>@mStruct.status</p>
            <p><b>Validation value format </b>@mStruct.validation_format</p>
            <p><b>Validation result </b>@mStruct.validation_result</p>
            <p><b>Validation level </b>@mStruct.validation_level</p>
        </div>
    </div>
</div>


<script type="text/javascript">
function toggle_visibility(id) {
    var e = document.getElementById(id);
    if(e.style.display == 'none')
        e.style.display = 'block';
    else
        e.style.display = 'none';
}

</script>
