@(mass:Double, deriv:String, redEnd:String)
<!--
<div class="info">
    <h3>Structure details</h3>

    <div class='taxonomy'>
        <p><b>Reducing Mass</b>if(sd.mass>0){ ("%.2f".format(sd.mass))}
            <br>(Calculated Monoisotopic)</p>
        <p><b>Reducing End </b>if(sd.reducing_name != null){sd.reducing_name } else {Not available}  </p>
        <p><b>Persubstitution </b>if(sd.pers_name != null){sd.pers_name} else {Not available}  </p>
    </div>
</div>

-->

<div class="info">
    <h3>Structure details</h3>

    <div class='taxonomy'>
        <p><b>Reducing Mass</b>@if(mass>0){ @("%.2f".format(mass))}
            <br>(Calculated Monoisotopic)</p>
        <p><b>Reducing End </b>@if(redEnd != null){@redEnd } else {Not available}  </p>
        <p><b>Persubstitution </b>@if(deriv != null){@deriv} else {Not available}  </p>
    </div>
</div>

