@import service.UserProvider
@import service.FormPubMed
@import helper._
@(userProvider: UserProvider, localUser: models.User = null, form: Form[FormPubMed])

@main(userProvider, "UniCarb-DR"){
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>

<div id="loading-overlay" style="
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250, 1);
    z-index: 12;">
    <div id="loading-info" style="position: absolute;
        top: 50%;
        left: 50%;
        font-size: 12px;
        text-align: center;
        width: 680px;
        height: 200px;
        border-radius: 4px;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);">
        <img src="../assets/images/wait.gif" style="width: 400px; margin: 20px">
        <br><div><h5 style="font-size: 18px">Loading... Please Wait</h5></div>
    </div>
</div>

<div class="upload">
@helper.form(action = routes.UploadDataController.upload, 'enctype -> "multipart/form-data", 'onsubmit -> "return loadScreen();") {
    <div class="container-fluid content">
        <div class="searchdiv">
            <h4 class="inline">Manuscript</h4>
            <div class="inline">
                @checkbox(form("manuscript"), '_label -> null)
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <div id="pubmed-container">
                <h4>PubMed ID</h4>
                <div class="search-field short">
                    @inputText(form("pubMedId"), '_label -> null, 'type -> "number", '_class -> "pid-input")
                </div>
                <button type="button" class="btn btn-primary" id="fetch-details">
                    Fetch details from PubMed
                </button>
                <div id="authors-input" class="pubmed-info"></div>
                <div id="title-input" class="pubmed-info"></div>
                <div id="journal-input" class="pubmed-info"></div>
                <div id="year-input" class="pubmed-info"></div>
            </div>

            <div id="input-container">
                <div id="error-title" style="color: red; display: none">Missing title and/or authors!</div>
                <h5 class="inline-label">Title:</h5>
                <div class="search-field long inline">
                    @inputText(form("title"), '_label -> null)
                </div>
                <br/>
                <h5 class="inline-label">Authors:</h5>
                <div class="search-field long inline">
                    @inputText(form("authors"), '_label -> null)
                </div>
            </div>
            <br />
            <br />
            <br />

        </div>
        @views.html.dataUpload.upload()
    </div>
    @inputText(form("journal"),'style -> "display: none", '_label -> null)
    @inputText(form("year"),'style -> "display: none", '_label -> null)
    @inputText(form("volume"),'style -> "display: none", '_label -> null)
    @inputText(form("pages"),'style -> "display: none", '_label -> null)
    @inputText(form("abbrev"),'style -> "display: none", '_label -> null)
}
</div>


<style>

    #manuscript_field dt label{
        width: 0px;
        margin: 0px;
        padding: 0px;
    }
    #input-container{
        display: none;
    }
    .inline{
        display: inline-block;
    }
    .inline-label{
        width: 100px;
        display: inline-block;
    }
</style>

<script>

        var isManuscript = false;
        var submitClicked = false;

        function fetchDetails(){
                // Example: 27456831
               var id = $("#pubMedId").val();

               if(id != "" && !isManuscript){
                   $.getJSON("http://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi", {
                            "db": "pubmed",
                            "retmode": "json",
                            "id": id,
                            "rettype": "abstract"
                        }, function(data){
                            if(data.result.uids != undefined && data.result.uids.length>0) {
                                var authorArray = data.result[id].authors;
                                var authorStr = "";
                                console.log(data.result[id]);

                                $.each(authorArray, function(index, author){
                                    if(index == authorArray.length -1 && authorArray.length > 1)
                                        authorStr += " and "
                                    else if(authorStr != "") authorStr += ", ";

                                    authorStr += author.name;
                                });

                                $("#authors-input").html("<h5>Authors: </h5>" + authorStr + " <br /><br />");
                                $("#authors").val(authorStr);

                                var title = data.result[id].title;
                                $("#title-input").html("<h5>Title: </h5>" + title + " <br /><br />");
                                $("#title").val(title);

                                var journal = data.result[id].fulljournalname;
                                $("#journal-input").html("<h5>Journal: </h5>" + journal + " <br /><br />");
                                $("#journal").val(journal);

                                var year = data.result[id].pubdate.split(" ")[0];
                                $("#year-input").html("<h5>Year: </h5>" + year + " <br /><br />");
                                $("#year").val(year);

                                $("#volume").val(data.result[id].volume);
                                $("#pages").val(data.result[id].pages);
                                $("#abbrev").val(data.result[id].source);

                                if(submitClicked){
                                $('form').submit();
                                }
                            } else {
                                $("#title-input").html("<h5 style='color: red'>PubMed ID: </h5>" + "<span style='color: red'>" + $('#pubMedId').val() + " does not exist."+ "</span>");
                                $("#loading-overlay").hide();
                            }
                        }
                   );
               }
        }

        function loadScreen() {
            if($("#pubMedId").val() != "" || isManuscript){
                var submit = false;
                if($("#gwp-input").get(0).files.length === 0){
                    $("#error-gwp").show();
                } else {
                    if(!isManuscript){
                        if($("#journal_field input").val() != "" && $("#year_field input").val() != "" && $("#volume_field input").val() != "" && $("#pages_field input").val() != ""){
                            submit = true;
                        }else {
                            submitClicked = true;
                            fetchDetails();
                        }
                        $("#loading-overlay").show();
                    } else {
                        if ($("#authors").val() != "" && $("#title").val() != ""){
                           submit = true;
                           $("#loading-overlay").show();
                        } else {
                            $("#error-title").show();
                        }

                    }
                }
                return submit;
            }else {
                return false;
            }
        }

        $(document).ready(function(){
            $('#manuscript').attr('checked', false);
            var gwpFieldCount = 1;


            $('#manuscript').click(function () {
                isManuscript = !isManuscript;

                if(isManuscript){
                    $("#input-container").show();
                    $("#pubmed-container").hide();
                } else {
                    $("#input-container").hide();
                    $("#pubmed-container").show();
                }
            });

            $("#fetch-details").click(function () {
                fetchDetails();
            });

            $("#gwp-input").change(function() {
              $("#error-gwp").hide();
            });
        });

@*
        function parseMirage(){
            var x = document.getElementById('mirage-input').files[0];

            var reader = new FileReader();

            reader.onload = function(e){
                var data = e.target.result;
                var workbook = XLSX.read(data, {type : 'binary'});

                var csv = XLSX.utils.sheet_to_csv(workbook.Sheets["MIRAGE Form"]);

                // Weird POC example of possible solution time. Due to bugs in XLSX SheetJS library and in jquery.csv,
                // I simply cannot get this to work any other way. Good luck!
                // TODO [EK]: Look at making this work with just using row numbers.
                var position = csv.search("Date stamp");

                var labelStartSubstr = csv.substr(position, csv.length-1);
                var valueStartSubstr = labelStartSubstr.substr(labelStartSubstr.search(",") + 1 , labelStartSubstr.length-1);
                var value = valueStartSubstr.substr(0, valueStartSubstr.search(","))
                console.log(valueStartSubstr);
                console.log(value);
            };

            reader.onerror = function(ex){
                console.log(ex);
            };

            reader.readAsBinaryString(x);
        };

        function parseGwpNotes() {
            var gwp = document.getElementById('gwp-input').files[0];

            var reader = new FileReader();

            reader.onload = function(e){
                var text = e.target.result;
                xmlDoc = $.parseXML(text);
                $xml = $(xmlDoc);
                notes = $xml.find("Notes");
                fields = notes[0].innerHTML.split("\n");

                $.each(fields, function(index, field){
                    var splitField = field.split(": ");
                    var name = splitField[0];
                    var value = splitField[1];

                    if(splitField[0] != "") { // guard against empty lines.
                        if(!value) value = "";
                        $("#gwp-mirage-results").append(
                            "<span class='gwp-field'><label>" +
                                "<b>" + name + ": </b>" +
                                "<input required type='text' value='" + value.trim() + "'/>" +
                            "</label></span>");
                    }
                });
            };

            reader.onerror = function(ex){
                console.log(ex);
            };

            reader.readAsText(gwp);
        }
*@
    </script>
}
