@import service.UserProvider
@import service.{FormSample, StructureForm, StructureForms, FormLC, FormMS, FormStructure}
@import src.TableFragment
@import models.lists.Treatment
@import service.FormTables
@(listForm: Form[StructureForms],
        formMS: Form[FormMS],
        formSample: Form[FormSample],
        formLC: Form[FormLC],
        formStructure: Form[FormStructure],
        list: List[StructureForm],
        sampleOptions: Map[String, Map[String, String]],
        tables: List[TableFragment],
        formTables: Form[FormTables],
        userProvider: UserProvider)

@main(userProvider, "MIRAGE UniCarb-DR"){

    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.versioned("stylesheets/mirageForms.css")'>

    <div id="loading-overlay" style="
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(250,250,250, 1);
        z-index: 12;">
        <div id="loading-info" style="position: absolute;
            top: 50%;
            left: 50%;
            font-size: 12px;
            text-align: center;
            width: 680px;
            height: 200px;
            border-radius: 4px;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);">
            <img src="../assets/images/wait.gif" style="width: 400px; margin: 20px"> <span style="font-size: 80px; vertical-align: middle"></span>
            <br><div><h5 style="font-size: 18px">Loading... Please Wait</h5></div>
        </div>
    </div>
    <br>

    <div class="container-fluid content">
        <ul class="breadcrumb">
            <li><i class="icon-home" ></i><a href="/"> UniCarb-DB</a> <span class="divider">></span></li>
            <li class="active"><i class="icon-upload" ></i>Upload<span class="divider"></span></li>
        </ul>
        <div class="page-header row-fluid">
            <h1 class="subheader span8">Collecting Data</h1>
        </div>
        <p>Add data...</p>
        <br />
        <br />
        <br />
        @helper.form(action = routes.UploadDataController.uploadData(), 'onsubmit -> "return validation();") {
        <button type="submit" class="btn btn-primary">Upload</button>
        <div class="validation-error" style="display: none; color: red;">
            <br/>
            <span style=" border: solid 1px #ff0000; border-radius: 4px; padding: 6px">Missing data in one or more fields!</span>
        </div>
        <div id="sheet-container" >


            <div id="sheet-btns">
                <div id="sheet-btns-container">
                    <div id="sample-btn" class="sheet-btn">Sample Preparation</div><!--
                --><div id="lc-btn" class="sheet-btn">LC settings</div><!--
                --><div id="ms-one-btn" class="sheet-btn">MS part 1</div><!--
                --><div id="ms-two-btn" class="sheet-btn">MS part 2</div><!--
                --><div id="structure-btn" class="sheet-btn">MS Structures</div>
                </div><!--
            --><div id="folder-end"></div>
            </div>
            <div class="sheet">

                    <div id="sample-sheet" style="display: none">
                        @views.html.dataUpload.sheets.samplesheet(formSample,formTables, sampleOptions, tables)
                    </div>
                    <div id="lc-sheet">
                        @views.html.dataUpload.sheets.lcsheet(formLC, sampleOptions)
                    </div>
                    <div id="ms-one-sheet">
                        @views.html.dataUpload.sheets.mssheet(formMS,formTables, tables, sampleOptions)
                    </div>
                    <div id="ms-two-sheet">
                        @views.html.dataUpload.sheets.mssheet2(formMS, formTables, tables, sampleOptions)
                    </div>
                    <div id="structure-sheet" style="display: none">
                        @views.html.dataUpload.sheets.uploadstructures(listForm, list, formStructure)
                    </div>

                </div>
        </div>
        }
    </div>

    <div id="loading-overlay" style="
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(200,200,200, 1);
        z-index: 12;">
        <div id="loading-info" style="position: absolute;
            top: 50%;
            left: 50%;
            font-size: 12px;
            text-align: center;
            width: 680px;
            height: 200px;
            border-radius: 4px;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);">
            <img src="../assets/images/wait.gif" style="width: 160px; margin: 20px"> <span style="font-size: 80px; vertical-align: middle">UniCarb-DB</span>
        </div>


    <style>
            #loading-overlay {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(250,250,250, 1);
                z-index: 12;
            }
            #loading-info{
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 12px;
                text-align: center;
                width: 680px;
                height: 200px;
                border-radius: 4px;
                transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
            }

            .sheet{
                box-sizing: border-box;
                padding: 40px;
                border-bottom: solid 1px #DDDDDD;
                border-left: solid 1px #DDDDDD;
                border-right: solid 1px #DDDDDD;
                width: 100%;
                margin-top: -0px;
            }
            .sheet-btn{
                box-sizing: border-box;
                display: inline-block;
                margin: 0px;
                text-align: center;
                padding: 10px;
                width: 20%;
                border: solid 1px #DDDDDD;
                cursor: pointer;
                border-radius: 30px 30px 0px 0px;
                -webkit-margin-start: 0px;
                -webkit-margin-after: 0px;
                -moz-margin-start: 0px;
                overflow: hidden;
            }
            #sheet-btns{
                width: 100%;
                overflow: hidden;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
            }
            #sheet-btns-container{
                width: 90%;
                min-width: 800px;
                display: inline-block;
            }
            #sheet-container{
                display: inline-block;
                margin-top: 60px;
                width: 100%;
            }
            .footer{
                visibility: hidden;
            }
            #folder-end{
                width: 10%;
                box-sizing: border-box;
                display: inline-block;
                margin: 0px;
                padding: 17px;
                border: none;
                border-bottom: solid 1px #DDDDDD;
            }
    </style>
    <style>
            .red-star{
                color: #ff0000;
                font-size: 16px;
                padding-left: 4px;
            }
    </style>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        var validationError = false;

            function validation() {
                var isValid = true;
                $(".val input, .val textarea").each(function () {
                   if ($(this).val() == ""){
                       $(".validation-error").show();
                       validationError = true;
                       isValid = false;
                       validate($(this));
                       if(($(this).parent().parent().hasClass("v-sample"))){
                           $("#sample-btn").css("color", "red");
                       }
                       if(($(this).parent().parent().hasClass("v-lc"))){
                           $("#lc-btn").css("color", "red");
                        }
                       if(($(this).parent().parent().hasClass("v-ms1"))){
                           $("#ms-one-btn").css("color", "red");
                        }
                   }
                });
                if(isValid){
                    $('#loading-overlay').show();
                }
                return isValid;
            }

            function validate(element) {
                if($(element).val() == ""){
                    $(element).css({ 'border': 'solid 1px #ff0000'});
                    el = $(element).parent().parent().parent();
                    $(el).siblings(".red-star").css('color', '#ff0000');
                }else {
                    $(element).css({ 'border': ''});
                    el = $(element).parent().parent().parent();
                    $(el).siblings(".red-star").css('color', '#aaaaaa');
                }
            }

            function validatePage(elements, page) {
                var isValid = true;
                $(elements).each(function () {
                    if($(this).val() == ""){
                        isValid = false;
                    }
                    validate($(this));
                });
                if(isValid){
                    $(page).css("color", "black");
                }
                return isValid;
            }

            $(document).ready(function(){
                $('#loading-overlay').fadeOut(400);

                $(".val input, .val textarea").each(function () {
                    setStars($(this));
                });

                $(".val input, .val textarea").focus(function () {
                    $(this).css({ 'border': 'solid 1px #018FD5'});
                });
                $(".val input, .val textarea").focusout(function () {
                    if(validationError){
                        if(validatePage($(".v-sample input, .v-sample textarea,"), $("#sample-btn")) & validatePage($(".v-lc input, .v-lc textarea"), $("#lc-btn")) & validatePage($(".v-ms1 input, .v-ms1 textarea"), $("#ms-one-btn"))){
                            $(".validation-error").hide();
                        }
                    } else {
                        validate($(this));
                    }
                });


                function setStars(element) {
                    if($(element).val() == ""){
                        el = $(element).parent().parent().parent();
                        $(el).siblings(".red-star").css('color', '#ff0000');
                    }else {
                        el = $(element).parent().parent().parent();
                        $(el).siblings(".red-star").css('color', '#aaaaaa');
                    }
                }
         

                var sheets = [
                    {element: $("#sample-sheet"), btn: $("#sample-btn")},
                    {element: $("#lc-sheet"),btn: $("#lc-btn")},
                    {element: $("#ms-one-sheet"),btn: $("#ms-one-btn")},
                    {element: $("#ms-two-sheet"),btn: $("#ms-two-btn")},
                    {element: $("#structure-sheet"), btn: $("#structure-btn")}
                ];

                var sheetClick = function(element){
                    for(var e in sheets){
                        if(sheets[e].btn.text() == element.text()){
                            sheets[e].element.css("display","block");
                            sheets[e].btn.css({"border-bottom": "hidden", "background-color": "inherit"});
                        } else {
                            sheets[e].element.css("display", "none");
                            sheets[e].btn.css({"border-bottom": "solid 1px #dddddd", "background-color": "#f0f0f0"});
                        }
                    }
                }


                $(".sheet-btn").click(function (e) {
                    sheetClick($(e.target));
                })

                sheetClick($("#sample-btn"));

                $(window).keydown(function(event){
                    if(event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });

                // Check if browser is Firefox, if so add date picker
                if(typeof InstallTrigger !== 'undefined'){
                    $( function() {
                        var date = $(".date-stamp dd input").val();
                        $(".date-stamp dd input").datepicker();
                        $(".date-stamp dd input").datepicker("option", "dateFormat", "yy-mm-dd");
                        $(".date-stamp dd input").val(date);
                    } );
                }


                $(".date-stamp dd input").change(function (e) {
                    var text = $(e.target).val();
                    $(".date-stamp dd input").each(function() {
                        $(this).val(text);
                        setStars($(this));
                    });
                })
                $(".responsible dd input").change(function (e) {
                    var text = $(e.target).val();
                    $(".responsible dd input").each(function() {
                        $(this).val(text);
                        setStars($(this));
                    });
                })
                $(".affiliation dd input").change(function (e) {
                    var text = $(e.target).val();
                    $(".affiliation dd input").each(function() {
                        $(this).val(text);
                        setStars($(this));
                    });
                })
                $(".contactInformation dd input").change(function (e) {
                    var text = $(e.target).val();
                    $(".contactInformation dd input").each(function() {
                        $(this).val(text);
                        setStars($(this));
                    });
                });

                $(".table-fragment-softwareTwo-input-container").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareTwo-column0 select"), $(".table-fragment-softwareThree-column0 select"));
                });
                $(".table-fragment-softwareTwo-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareTwo-column0 select"), $(".table-fragment-softwareThree-column0 select"));
                });
                $(".table-fragment-softwareThree-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareTwo-column0 select"), $(".table-fragment-softwareThree-column0 select"), true);
                });
                $(".table-fragment-softwareFour-input-container").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareFour-column0 select"), $(".table-fragment-softwareFive-column0 select"));
                });
                $(".table-fragment-softwareFour-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareFour-column0 select"), $(".table-fragment-softwareFive-column0 select"));
                });
                $(".table-fragment-softwareFive-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareFour-column0 select"), $(".table-fragment-softwareFive-column0 select"), true);
                });
                $(".table-fragment-softwareSix-input-container").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareSix-column0 select"), $(".table-fragment-softwareSeven-column0 select"));
                });
                $(".table-fragment-softwareSix-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareSix-column0 select"), $(".table-fragment-softwareSeven-column0 select"));
                });
                $(".table-fragment-softwareSeven-add").click(function(){
                    setUpSoftwareList($(".table-fragment-softwareSix-column0 select"), $(".table-fragment-softwareSeven-column0 select"), true);
                });

                function setUpSoftwareList(fromElement, toElement, last) {
                    var opList = [];
                    fromElement.each(function () {
                        opList.push($(this).val());
                    });

                    if(last){
                        toElement.last().find('option').remove();
                        for (var o in opList){
                            toElement.last().append('<option value=' + opList[o] + '>' + opList[o] + '</option>');
                        }
                    } else {
                        toElement.each(function () {
                            if ($.inArray($(this).val(), opList) != -1){
                                var selected = $(this).val();
                                $(this).find('option').remove();
                                for (var o in opList){
                                    $(this).append('<option value=' + opList[o] + '>' + opList[o] + '</option>');
                                }
                                $(this).val(selected);
                            } else {
                                $(this).find('option').remove();
                                for (var o in opList){
                                    $(this).append('<option value=' + opList[o] + '>' + opList[o] + '</option>');
                                }
                            }
                        });
                    }

                }
            });
    </script>
}

