@import service.UserProvider
@(userProvider: UserProvider)
@main(userProvider, "About UniCarb-DR"){
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row-fluid">
        <div class="span12 centered">
            <h2 class="logo-text">
                You have successfully uploaded your data to UniCarb-DR!
            </h2>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row-fluid">
        <div class="span12 centered">
            <a href="">View your data</a>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
}
