

    <div class="searchdiv">
        <h4>Mirage File (.xlsx)</h4>
        <div class="search-field">
            <input id="mirage-input" type="file" name="file" accept=".xlsx">
        </div>
        <div id="mirage-output">

        </div>
    </div>
    <div class="searchdiv">
        <h4>GlycoWorkbench Files (.gwp)</h4>

        <div id="error-gwp" style="color: red; display: none">No file selected!</div>
        <div class="search-field">
            <input id="gwp-input" type="file" name="file-two" accept=".gwp" multiple="multiple">
        </div>
        <div id="gwp-mirage-results">

        </div>
    </div>

    <p>
        <input type="submit" value="Next" class="btn btn-primary">
    </p>

