@import service.UserProvider
@(currentPage: com.avaje.ebean.PagedList[models.DBviews.vReferences], currentSortBy: String, currentOrder: String, currentFilter: String, userProvider: UserProvider)

@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
            order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.HomeController.listReferences(newPage, sortBy, order, currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
<!--
~ Copyright (c) 2014. Copyright (c) 2014. Matthew Campbell
~
~ The program can not be distributed to others with out the consent of the copyright holder, until such a time that the copyright holder has released the code for public use.
-->

<th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
<a href="@link(0, key)">@title</a>
</th>
}


@main(userProvider, "UniCarb-DR"){

<script>
    $("#refsLink").addClass("active");
</script>

<div class="container-fluid content">
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-book" ></i> References<span class="divider"></span></li>
    </ul>

    <h1>UniCarb-DR Reference Collection</h1>
<!--    <h1>UniCarb-DR Reference Collection</h1>-->


    @if(currentPage.getTotalRowCount > 0) {

            <table class="computers table table-striped">
                <thead>
                <tr>
                    @header("title", "Title")
                    @header("publication_year", "Year")
                    @header("authors", "Authors")
                    @header("journal_title", "Journal")
                    @header("pubmed_id", "Pubmed")

                </tr>
                </thead>
                <tbody>

                @for(reference <- currentPage.getList) {
                <tr>
                    <td>
                        @if(reference.title == null) {
                        <em>Not available</em>
                        } else {
                        <a href="references/@reference.journal_reference_id">@reference.title</a>
                        }
                    </td>
                    <td>
                        @if(reference.publication_year == null) {
                        <em>-</em>
                        } else {
                        @reference.publication_year
                        }
                    </td>
                    <td>
                        @if(reference.authors == null) {
                        <em>-</em>
                        } else {
                        @reference.authors
                        }
                    </td>
                    <td>
                        @if(reference.journal_title == null) {
                        <em>-</em>
                        } else {
                        @reference.journal_title
                        }
                    </td>
                    <td>
                        @if(reference.pubmed_id == null) {
                        <em>-</em>
                        } else {
                        @reference.pubmed_id
                        }
                    </td>
                </tr>
                }
                </tbody>
            </table>


            <div id="pagination" class="pagination">
                <ul>
                    @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                    } else {
                    <li class="previous disabled">
                        <a>&larr; Previous</a>
                    </li>
                    }
                    <li class="current">
                        <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                    </li>
                    @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                    } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                    }
                </ul>
            </div>

        </div>

    } else {

        <div class="well">
            <em>There are no references to display</em>
        </div>
    }

}
