@import service.UserProvider
@(journal: DBviews.vReferences, struc: List[DBviews.vReferenceDisplay], lc: DBviews.vLC, bio: List[DBviews.vBCToJournal], massSpec: DBviews.vMassSpec, userProvider: UserProvider)

@main(userProvider, "UniCarb-DB"){

<div class="container-fluid content">

    <ul class="breadcrumb">
        <li><i class="icon-home"></i><a href="/"> UniCarb-DR</a> <span class="divider">></span></li>
        <li><i class="icon-book"></i><a href="/references"> References</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-file"></i> @journal.pubmed_id<span class="divider"></span></li>
    </ul>


    <section id="structureLayout">
        <section id="layouts">

            <div class="page-header row-fluid">
                <h1 class="">@journal.title</h1>
            </div>


            <div class="row-fluid">
                <div class="span8">

                    <p><b>@journal.authors, @journal.journal_title, @journal.pages</b></p>


                    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/@journal.pubmed_id" target="_blank">PubMed Entry:</a></p>

                    <table class="computers table table-striped">
                        <col width="15%"/>
                        <col width="25%"/>
                        <col width="60%"/>
                        <thead>
                        <tr>
                            <td><a><b>Retention Time</b></a></td>
                            <td><a><b>Recorded Precursor Mass</b></a></td>
                            <td><a><b>Structure</b></a></td>
                        </tr>
                        </thead>
                        <tbody>

                        @for(st <- struc){
                        <tr>
                            <td>@if(st.retention_time > 1) {@st.retention_time} else { Not recorded }</td>
                            <td>@st.base_peak_mz @Html(st.charges)
                            </td>

                            <td><a href="/msData/@st.scan_id">
                                <img class="sugar_image" src=@{routes.GWPController.showImage(st.sequence_gws,session.get("notation"),"normal")} height="25%", width="35%" alt=""/>
                            </a></td>
                        </tr>
                        }


                        </tbody>
                    </table>
                </div>



                <div class="span4 sidebar">
                    @views.html.format.format()
                    @views.html.additionalInfo.bioContextList(bio)
                    @if(lc != null){
                        @views.html.additionalInfo.hplc(lc)
                    }
                    @views.html.additionalInfo.massSpec(massSpec)
                    @*views.html.additionalInfo.mirage(journal.journal_reference_id)*@
                </div>




            </div>

        </section>
    </section>



</div>

}
