@import service.UserProvider
@(userProvider: UserProvider)

@main(userProvider, "User exists"){
    <div class="container-fluid content">
        <div class="row-fluid info">
            <div class="row-fluid">
                <div class="page-header row-fluid">
                    <h1 class="subheader span8">User exists</h1>
                </div>
                <p>This user already exists.</p>
            </div>
        </div>
    </div>
}








