@import service.UserProvider
@(userProvider: UserProvider)

@main(userProvider, "UniCarb-DB"){
<div class="container-fluid content">
    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Token Error</h1>
            </div>
            <p><p>The given token has either expired or does not exist.</p></p>
        </div>
    </div>
</div>

}
