@import service.UserProvider
@(userProvider: UserProvider, providerKey: String)

@main(userProvider, "Access denied"){

<div class="container-fluid content">
    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">OAuth access denied</h1>
            </div>
            <p>If you want to use UniCarb-DB with OAuth, you must accept the connection.<br/>
            </p>
            <p>If you rather not like to do this, you can also <a href="@routes.HomeController.signup">sign up with a username and password instead</a>.

        </div>
    </div>
</div>
}

