@import service.UserProvider
@(userProvider: UserProvider, resetForm: Form[controllers.Signup.PasswordReset])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userProvider, "Password reset"){

<div class="container-fluid content">
    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Reset password</h1>
            </div>
            <p>@form(routes.Signup.doResetPassword, 'class -> "form-horizontal", 'role -> "form") {

                @if(resetForm.hasGlobalErrors) {
            <p class="alert alert-danger">@resetForm.globalError.message</p>
            }
            @input(
            resetForm("token"),
            '_label -> "",
            '_showConstraints -> false,
            '_class -> "search-field"
            ) { (id, name, value, args) => <input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>  }

            @auth._passwordPartial(resetForm)

            <br><br>
            <button type="submit" class="btn btn-primary u-form-group">Reset my password</button>
            }</p>
        </div>
    </div>
</div>

}
