@import service.UserProvider
@(userProvider: UserProvider, emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userProvider, "Password forgotten"){
<div class="container-fluid content">
    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Password forgotten</h1>
            </div>
            <p>
                @form(routes.Signup.doForgotPassword, 'class -> "form-inline", 'role -> "form") {
                    @if(emailForm.hasGlobalErrors) {
                        <p class="alert alert-danger">@emailForm.globalError.message</p>
                    }

                    <br>
                    @auth._emailPartial(emailForm)
                    <button type="submit" class="btn btn-primary u-form-group">Send reset instructions</button>
                }
            </p>

        </div>
    </div>
</div>

}
