@import service.UserProvider
@(userProvider: UserProvider)

@main(userProvider, "Unverified user"){

<div class="container-fluid content">
    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Verify your e-mail</h1>
            </div>
            <p>
                Before you can use the submission tool, you first need to verify your e-mail address.</br>
                An e-mail has been sent to the registered address. Please follow the embedded link to activate your account.
                <br/>
            </p>
        </div>
    </div>
</div>

}

