@import service.UserProvider
@(userProvider: UserProvider, acceptForm: Form[Account.Accept], newAccount: com.feth.play.module.pa.user.AuthUser)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@label = {
@auth._providerIcon(newAccount.getProvider()) @Messages("playauthenticate.link.account.question",newAccount)
}

@main(userProvider, "UniCarb-DB"){

<div class="container-fluid content">
    <div class="row-fluid info">
        <div class="row-fluid">
            <div class="page-header row-fluid">
                <h1 class="subheader span8">Link account</h1>
            </div>
            <p>
                @form(routes.Account.doLink, 'class -> "form-horizontal", 'role -> "form") {

                    @if(acceptForm.hasGlobalErrors) {
                        <p class="alert alert-danger">@acceptForm.globalError.message</p>
                    }

                    @inputRadioGroup(
                        acceptForm("accept"),
                        options = Seq(
                        "true"-> "Yes, link this account",
                        "false"-> "No, log out and create a new user with this account"
                        ),
                        '_label -> label,
                        '_showConstraints -> false
                    )

                    <button type="submit" class="btn btn-default">Ok</button>
                }
            </p>

        </div>
    </div>
</div>

}
