@import service.UserProvider
@(userProvider: UserProvider, playAuth: com.feth.play.module.pa.PlayAuthenticate)

@main(userProvider, "UniCarb-DB"){

<h1>@Messages("playauthenticate.link.account.title")</h1>

<p>
    @auth._providerPartial(playAuth)
    <br/>
</p>
}
