@import service.UserProvider
@(userProvider: UserProvider, changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userProvider, "UniCarb-DB"){

<h1>@Messages("playauthenticate.change.password.title")</h1>
<p>
    @form(routes.Account.doChangePassword, 'class -> "form-inline", 'role -> "form") {

    @if(changeForm.hasGlobalErrors) {
<p class="alert alert-danger">
    @changeForm.globalError.message
</p>
}

@auth._passwordPartial(changeForm)

<button type="submit" class="btn btn-primary u-form-group">@Messages("playauthenticate.change.password.cta")</button>
}
</p>
}
