@import service.UserProvider
@(userProvider: UserProvider)

@main(userProvider, "UniCarb-DB"){

<h1>@Messages("playauthenticate.verify.account.title")</h1>
<p>
    @Messages("playauthenticate.verify.account.before") <a href="@routes.Account.verifyEmail">@Messages("playauthenticate.verify.account.first")</a>.<br/>
</p>
}
