@import service.UserProvider
@(res:List[DBviews.vAdvancedSearch], userProvider: UserProvider)

@main(userProvider, "MIRAGE upload"){

<div class="container-fluid content">

    <h1>UniCarb-DB Reference Collection</h1>
    @if(res.size() == 0) {

    <div class="well">
        <em>There are no results to display</em>
    </div>

    } else {


    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Structures matching experimental mass (@res.size() results )
                </a>
            </div>
            <div class="accordion-inner">
                <table class="computers table table-striped">
                    <col width="30%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="20%"/>
                    <thead>

                    <tr>
                        <td><a><b>Structure</b></a></td>
                        <td><a><b>Calculated Mass</b></a></td>
                        <td><a><b>Precursor Mass</b></a></td>
                        <td><a><b>Taxonomy</b></a></td>
                        <td><a><b>Tissue</b></a></td>
                        <td><a><b>Reference</b></a></td>
                    </tr>
                    </thead>
                    <tbody>

                    @for(r <- res){
                        <tr>
                            <td><a href="/msData/@r.scan_id"><img class="sugar_image" src=@{routes.GWPController.showImage(r.sequence_gws,session.get("notation"),"extended")} height="50%", width="50%" alt=""/></a></td>
                            <td>@("%.2f".format(r.mass))</td>
                            <td>@r.base_peak_mz</td>
                            <td>@r.taxon</td>
                            <td>@r.tissue_taxon</td>
                            <td>@r.title</td>
                        </tr>
                    }

                    </tbody>
                </table>

            </div>

        </div>

    </div>

    }

    <a href="@routes.SearchController.search()">
        <input type="button" value="Search Again" href="@routes.SearchController.search()" class="btn btn-primary pull-right">
    </a>

</div>

}