@import service.UserProvider
@(resultMap: Map[src.PairWrapper, Double], userProvider: UserProvider)

@main(userProvider, "MIRAGE upload"){

<div class="container-fluid content">

    <h1>UniCarb-DB Reference Collection</h1>
    @if(resultMap.size() == 0) {

    <div class="well">
        <em>There are no results to display</em>
    </div>

    } else {


    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Structures matching experimental mass (@resultMap.size() results )
                </a>
            </div>
            <div class="accordion-inner">
                <table class="computers table table-striped">
                    <col width="60%"/>
                    <col width="40%"/>
                    <thead>

                    <tr>
                        <td><a><b>Structure</b></a></td>
                        <td><a><b>Score</b></a></td>
                    </tr>
                    </thead>
                    <tbody>

                    @for((key, value) <- resultMap) {
                    <td><a href="/msData/@key.getid()">
                        <img class="sugar_image" src=@{routes.GWPController.showImageId(key.getGlycanSeqId(),session.get("notation"),"extended")} height="30%", width="30%" alt=""/>
                    </a>
                    <td>@("%.2f".format(value))</td></tr>
                    }

                    </tbody>
                </table>

            </div>

        </div>

    </div>

    }

    <a href="@routes.SearchController.search()">
        <input type="button" value="Search Again" href="@routes.SearchController.search()" class="btn btn-primary pull-right">
    </a>

</div>

}




