@import service.UserProvider
@(journal: DBviews.vReferences,
sc: MS.Scan, pL: List[MS.PeakLabeled],
seqGWS:String,
mass:Double, deriv:String, redEnd:String,
simSpectra: Map[src.PairWrapper, Double],
bio:DBviews.vBiologicalContext,
lc: DBviews.vLC,
massSpec: DBviews.vMassSpec,
mStruct: DBviews.vMirageStructures,
userProvider: UserProvider)


@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {

}
<script src="@routes.Assets.versioned("javascripts/st.js")"></script>
<script src="@routes.Assets.versioned("javascripts/d3.js")"></script>


@main(userProvider, "MIRAGE upload"){

<div class="container-fluid content">
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarb-DB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-th" ></i> Structure<span class="divider"></span></li>
    </ul>


    <section id="structureLayout">
        <section id="layouts">

            <div class="page-header row-fluid">
                <h1 class="">Structure</h1>
            </div>


            <div class="row-fluid">
                <div class="span8">
                    <ul class='structures'>
                        <!--img class="sugar_image" src=@{routes.GWPController.showImage(sc.glycanSequence.sequence_gws,session.get("notation"),"extended")} height="25%", width="35%" alt=""/-->
                        <img class="sugar_image" src=@{routes.GWPController.showImage(seqGWS,session.get("notation"),"extended")} height="25%", width="35%" alt=""/>

                    </ul>

                    @if(journal != null && journal.title != null){
                        <p><b>@journal.title</b></p>
                    }
                    @if(sc.note != null){
                    <p class="evaluation">@sc.note</p>}
                    @if(journal != null && journal.pubmed_id != null){
                        <p><a target="blank" href="http://www.ncbi.nlm.nih.gov/pubmed/@journal.pubmed_id">PubMed Entry</a></p>
                    }

                    @if(sc.glycanSequence.glytoucan_id != null){
                    <p><img src="@routes.Assets.versioned("images/logo_toucan.png")"> GlyToucan Accession Number:<a target="blank" href="https://glytoucan.org/Structures/Glycans/@sc.glycanSequence.glytoucan_id"> @sc.glycanSequence.glytoucan_id</a></p>}

                    @views.html.spectra.spectraTable(pL, simSpectra)

                </div>

                <div class="span4 sidebar">
                    @views.html.format.format()
                    @*views.html.additionalInfo.structureDetails(sd)*@
                    @views.html.additionalInfo.structureDetails(mass,deriv,redEnd)
                    @views.html.additionalInfo.bioContext(bio)
                    @if(lc != null){
                        @views.html.additionalInfo.hplc(lc)
                    }


                    @views.html.additionalInfo.massSpec(massSpec)

                    @if(mStruct != null) {
                        @views.html.additionalInfo.mirageStructures(mStruct)
                    }

                </div>

            </div>
        </section>
    </section>
    <a href="https://web.expasy.org/contact.html?subject=UniCarb-DB" class='label label-dark'>Report errors in this entry</a></p>
</div>

@views.html.spectra.spectraViewer(pL)

}



