@import service.UserProvider
@(userProvider: UserProvider)
@main(userProvider, "UniCarb-DB"){

<script>
    $("#aboutLink").addClass("active");
</script>

<div class="about">
    <div class="container-fluid content">

        <div class="row-fluid">
            <div class="span12 centered">
                <h3 class="logo-text">
                    The Glycomic MS Database and Repository
                </h3>
            </div>
        </div>
        <div class="row-fluid info">

            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $(document).ready(function() {
                    $(function() {
                        $("#search").autocomplete({
                            minLength: 3,
                            source : function(request, response) {
                                $.ajax({
                                    url : "/api/taxonomy/json/" + request.term,
                                    type : "GET",
                                    data : {
                                        term : request.term
                                    },
                                    dataType : "json",
                                    success : function(data) {
                                        response(data);
                                    }
                                });
                            }
                        });
                    });
                });
            </script>

            <div class="search-container">
                <div class="ui-widget">
                    <input type="text" id="search" name="search" class="search" />
                </div>
            </div>


        </div>
    </div>
</div>
}

