@import service.UserProvider
@(userProvider: UserProvider)
@main(userProvider, "UniCarb-DB"){

<script>
    $("#aboutLink").addClass("active");
</script>

<div class="about">
    <div class="container-fluid content">

        <div class="row-fluid">
            <div class="span12 centered">
                <h3 class="logo-text">
                    The Glycomic MS Database and Repository
                </h3>
            </div>
        </div>
        <div class="row-fluid info">


            <div id="data">
                <table id="algo">
                    <tr><td>Database</td><td><input type="text" id="databasename" value="" /></td>
                        <td>Taxonomical restrictions</td><td><input type="text" id="taxRest" value="" /></td>
                    </tr>
                    <tr>
                        <td>Other restrictions</td><td><input type="text" id="otherRestr" value="" /></td>
                        <td>Allowed cleavages</td><td><input type="text" id="otherRestr" value="" /></td>
                    </tr>
                    <tr>
                        <td>Scoring method</td><td><input type="text" id="otherRestr" value="" /></td>
                        <td>Scoring algorithm</td><td><input type="text" id="otherRestr" value="" /></td>
                    </tr>
                </table>
                    <br><br>
                <input type="button" value="Add New" class="addNew" name="add"/>
                <br><br>
            </div>

            <table width="50%" border="1" cellspacing="0" cellpadding="0" class="table">
                <tr>
                    <td>ACC_CODE</td>
                    <td>ACC_NAME</td>
                    <td>ACTION</td>
                </tr>
                <tr>
                    <td>&nbsp;<input type="text" class="acc_code" name="acc_code" id="acc_code"/></td>
                    <td>&nbsp;<input type="text" class="click" name="parentinput"  id="parentinput" /></td>
                    <td>&nbsp;<input type="button" value="Add New" class="addNew" name="addNew" /></td>
                </tr>
            </table>

        </div>
    </div>
</div>

<script>
$(document).ready(function() {
  $('.table').on('click', '.addNew',  function() {
    $('.table tr:last').after('<tr><td><input type="text" class="acc_code" name="acc_codes" id="acc_codes"/></td><td><input type="text" class="click" name="parentinputs"  id="parentinputs" /></td><td><input type="button" value="Add New" class="addNew" name="add" /></td></tr>');
    $("#acc_code").prop( "disabled", false );
  });
});
</script>



}


