@(vSample: List[DBviews.vMirageSample], vLc: DBviews.vMirageLc, vMs: DBviews.vMirageMs, vSoft:List[DBviews.vMirageSoftware])

<div class="info">


    <h3>Sample preparation</h3>
    @for(vS <- vSample){
        <h5>Species</h5>
        @for(item <- vS.getTaxonomies()){
            <a href="#">@item </a> <br>
        }

        <h5>Tissue</h5>
        @for(item <- vS.getTissues()){
            <a href="#">@item </a> <br>
        }
        @if(vS.getGlycoproteins().size >0){
            <h5>Glycoprotein</h5>
            @for(item <- vS.getGlycoproteins()){
                <a href="#">@item </a> <br>
            }
        }
        @if(vS.getCellLines().size >0){
            <h5>Cell Line</h5>
            @for(item <- vS.getCellLines()){
                <a href="#">@item </a> <br>
            }
        }
        @if(vS.getTreatments().size >0){
            <h5>Treatments</h5>
            @for(item <- vS.getTreatments()){
                @if(item !=null){
                    <a href="#">@item </a> <br>
                }
            }
        }


        @if(vS.starting_material != null){
            <h5>Starting material</h5>
            <a href="#">@vS.starting_material </a> <br>
        }
    }

    <hr>
    <h3>HPLC</h3>
    <h5>Instrument:</h5><a href="#">@vLc.inst_name </a><a href="#">@vLc.inst_model </a> <br>
    <hr>
    <h3>MS</h3>
    <h5>Instrument:</h5><a href="#">@vMs.manufacturer_name </a><a href="#">@vMs.device_model </a><a href="#">@vMs.ionisation_type </a> <br>
    <hr>
    <h3>Software</h3>
    @for(vSft <- vSoft){
        <h5>@vSft.task</h5>
        (@vSft.manufacturer) <a href="#">@vSft.name_software @vSft.version_software</a><br>

        @if(vSft.getFiles().size >0){
            @for(item <- vSft.getFiles()){
                - @item <br>
            }
        }
    }


</div>
</div>

