@import service.UserProvider
@(vSample: List[DBviews.vMirageSample], journalResp: DBviews.vJournalResponsible, vLc: DBviews.vMirageLc, vMs: DBviews.vMirageMs, vSoft:List[DBviews.vMirageSoftware], userProvider: UserProvider)

@*(species: HashSet[String], tissues: HashSet[String], glycoPro: HashSet[String], cellLines: HashSet[String], journal: core.JournalReference, userProvider: UserProvider)*@

@main(userProvider, "MIRAGE report"){
<div class="about">
    <div class="container-fluid content">

        <div class="row-fluid">
            <div class="span12 centered">
                <h3 class="logo-text">
                    The Glycomic MS Database and Repository
                </h3>
            </div>
        </div>
        <div class="page-header row-fluid">
            <h1 class="">@journalResp.title</h1>
        </div>
        <div class="row-fluid info">
            <div class="span8 leftContent">
                <h3>Responsible: </h3>

                    @journalResp.responsible_name . @journalResp.affiliation . @journalResp.contact_information

                <br/><br/>
                <h3>Sample preparation</h3>
                <hr>
                @for(vS <- vSample){
                    <h5>1.Sample Origin</h5><br/>
                    @if(vS.general_info !=null){
                        <p><b class="report">General information: </b><br/>@vS.general_info</p>
                    }else{
                        <p><b class="report">General information: </b><br/>NA</p>
                    }
                    @if(vS.growth_harvest != null){
                        <p><b class="report">Growth/harvest conditions for recombinantly produced material: </b><br/>@vS.growth_harvest</p>
                    }else{
                        <p><b class="report">Growth/harvest conditions for recombinantly produced material: </b><br/>NA</p>
                    }
                    @if(vS.treatment_storage != null){
                        <p><b class="report">Treatments and/or storage conditions:</b><br/>@vS.treatment_storage</p>
                    }else{
                        <p><b class="report">Treatments and/or storage conditions:</b><br/>NA</p>
                    }
                    @if(vS.vendor_item_info != null){
                        <p><b class="report">For commercial material, vendor and applicable item information:</b><br/>@vS.vendor_item_info</p>
                    }else{
                        <p><b class="report">For commercial material, vendor and applicable item information:</b><br/>NA</p>
                    }
                    @if(vS.generation_material !=null){
                        <p><b class="report">Generation of chemically derived material: </b><br/>@vS.generation_material</p>
                    }else{
                        <p><b class="report">Generation of chemically derived material:</b><br/>NA</p>
                    }


                    <br/><h5>2. Sample Processing</h5><br/>

                    @if(vS.purification !=null){
                        <p><b class="report">Purification steps: </b><br/>@vS.purification</p>
                    }else{
                        <p><b class="report">Purification steps: </b><br/>NA</p>
                    }


                    <br/><h5>2. Defined Sample</h5><br/>

                    @if(vS.sample_Name !=null){
                        <p><b class="report">Sample name: </b><br/>@vS.sample_Name</p>
                    }else{
                        <p><b class="report">Sample name: </b><br/>NA</p>
                    }
                }

                <br/><br/>
                <h3>HPLC</h3>
                <hr>


                <h5>1. General settings</h5><br/>



                @if(vLc.inst_name !=null){
                    <p><b class="report">Instrument: </b>@vLc.inst_name @vLc.inst_model</p>
                }else{
                    <p><b class="report">Instrument: </b>NA</p>
                }

                @if(vLc.inst_url !=null){
                    <p><b class="report">Manufacturer url: </b><a href="http://@vLc.inst_url" target="_blank">@vLc.inst_url</a></p>
                }else{
                    <p><b class="report">Manufacturer url: </b>NA</p>
                }

                @if(vLc.injector_type !=null){
                    <p><b class="report">Injector: </b>@vLc.injector_type</p>
                }else{
                    <p><b class="report">Injector: </b>NA</p>
                }

                @if(vLc.injector_settings !=null){
                    <p><b class="report">Injector settings: </b>@vLc.injector_settings</p>
                }else{
                    <p><b class="report">Injector settings: </b>NA</p>
                }



                <br/><h5>2. Column</h5><br/>

                @if(vLc.man_name !=null){
                    <p><b class="report">Manufacturer: </b> @vLc.man_name</p>
                }else{
                    <p><b class="report">Manufacturer: </b> NA</p>
                }

                @if(vLc.column_model !=null){
                    <p><b class="report">Model: </b> @vLc.column_model</p>
                }else{
                    <p><b class="report">Model: </b> NA</p>
                }

                @if(vLc.type_chromatography !=null){
                    <p><b class="report">Type of Chromatography: </b>@vLc.type_chromatography</p>
                }else{
                    <p><b class="report">Type of Chromatography: </b> NA</p>
                }

                @if(vLc.packing_material !=null){
                    <p><b class="report">Type of Material: </b>@vLc.packing_material</p>
                }else{
                    <p><b class="report">Type of Material: </b> NA</p>
                }


                @if(vLc.column_size_width !=null){
                    <p><b class="report">Column diameter: </b> @vLc.column_size_width</p>
                }else{
                    <p><b class="report">Column diameter: </b> NA</p>
                }


                @if(vLc.column_size_length !=null){
                    <p><b class="report">Column length: </b>@vLc.column_size_length</p>
                }else{
                    <p><b class="report">Column length: </b> NA</p>
                }

                @if(vLc.particle_size !=null){
                    <p><b class="report">Particle size: </b>@vLc.particle_size</p>
                }else{
                    <p><b class="report">Particle size: </b> NA</p>
                }

                @if(vLc.col_url !=null){
                    <p><b class="report">Manufacturer url: </b><a href="http://@vLc.col_url" target="_blank">@vLc.col_url</a></p>
                }else{
                    <p><b class="report">Manufacturer url: </b>NA</p>
                }



                <br/><h5>3. Method run</h5><br/>

                @if(vLc.temperature !=null){
                    <p><b class="report">Temperature: </b>@vLc.temperature</p>
                }else{
                    <p><b class="report">Temperature: </b>NA</p>
                }
                @if(vLc.solvent_a !=null){
                    <p><b class="report">Solvent a:</b> @vLc.solvent_a</p>
                }else{
                    <p><b class="report">Solvent a:</b> NA</p>
                }
                @if(vLc.solvent_b !=null){
                    <p><b class="report">Solvent b: </b>@vLc.solvent_b</p>
                }else{
                    <p><b class="report">Solvent b: </b>NA</p>
                }
                @if(vLc.other_solvent !=null){
                    <p><b class="report">Other solvent: </b>@vLc.other_solvent</p>
                }else{
                    <p><b class="report">Other solvent: </b>NA</p>
                }
                @if(vLc.flow_rate !=null){
                    <p><b class="report">Flow rate: </b>@vLc.flow_rate</p>
                }else{
                    <p><b class="report">Flow rate: </b>NA</p>
                }
                @if(vLc.flow_gradient !=null){
                    <p><b class="report">Flow gradient: </b>@vLc.flow_gradient</p>
                }else{
                    <p><b class="report">Flow gradient: </b>NA</p>
                }
                @if(vLc.run_time !=null){
                    <p><b class="report">Run time: </b>@vLc.run_time</p>
                }else{
                    <p><b class="report">Run time: </b>NA</p>
                }
                @if(vLc.phase !=null){
                    <p><b class="report">Phase: </b>@vLc.phase</p>
                }else{
                    <p><b class="report">Phase: </b>NA</p>
                }


                <br/><br/>
                <h3>MS</h3>
                <hr>

                <br/><h5>1. General features</h5><br/>

                @if(vMs.date_completed !=null){
                    <p><b class="report">Date stamp: </b> @vMs.date_completed</p>
                }else{
                    <p><b class="report">Date stamp: </b>NA</p>
                }


                @if(vMs.manufacturer_name !=null){
                    <p><b class="report">Instrument: </b> @vMs.manufacturer_name  @vMs.device_model  @vMs.ionisation_type </p>
                }else{
                    <p><b class="report">Instrument: </b> NA</p>
                }


                @if(vMs.ms_customizations !=null){
                    <p><b class="report"> Customizations from the manufacturer's specification: </b><br/> @vMs.ms_customizations</p>
                }else{
                    <p><b class="report"> Customizations from the manufacturer's specification: </b><br/> NA</p>
                }

                @if(vMs.ion_mode !=null){
                    <p><b class="report"> ion_mode: </b> @vMs.ion_mode</p>
                }else{
                    <p><b class="report"> ion_mode: </b>NA</p>
                }


                <br/><h5>2. Ion sources</h5><br/>
                <h5>(a) Electrospray ionisation - ESI</h5><br/>

                @if(vLc.phase !=null){
                    <p><b class="report">Sprayer type : </b> @vMs.esi_supply_type</p>
                }else{
                    <p><b class="report">Sprayer type: </b> NA</p>
                }

                @if(vMs.esi_interface_name !=null){
                    <p><b class="report"> Interface name: </b> @vMs.esi_interface_name</p>
                }else{
                    <p><b class="report"> Interface name: </b>NA</p>
                }

                @if(vMs.esi_interface_details !=null){
                    <p><b class="report"> Other data for the Interface: </b>@vMs.esi_interface_details</p>
                }else{
                    <p><b class="report"> Other data for the Interface: </b>NA</p>
                }

                @if(vMs.esi_sprayer_name !=null){
                    <p><b class="report"> Sprayer name: </b> @vMs.esi_sprayer_name</p>
                }else{
                    <p><b class="report"> Sprayer name: </b>NA</p>
                }

                @if(vMs.esi_sprayer_details !=null){
                    <p><b class="report"> Other data for the sprayer: </b> @vMs.esi_sprayer_details</p>
                }else{
                    <p><b class="report"> Other data for the sprayer: </b>NA</p>
                }

                @if(vMs.esi_voltages !=null){
                    <p><b class="report"> Relevant voltages: </b> @vMs.esi_voltages</p>
                }else{
                    <p><b class="report"> Relevant voltages: </b>NA</p>
                }
                @if(vMs.esi_prompt !=null){
                    <p><b class="report"> Degree of prompt fragmentation evaluated: </b> @vMs.esi_prompt</p>
                }else{
                    <p><b class="report"> Degree of prompt fragmentation evaluated: </b>NA</p>
                }

                @if(vMs.esi_in_source !=null){
                    <p><b class="report"> In-source dissociation performed: </b> @vMs.esi_in_source</p>
                }else{
                    <p><b class="report"> In-source dissociation performed: </b>NA</p>
                }

                @if(vMs.esi_other_param !=null){
                    <p><b class="report"> Other parameters if discriminant for the experiment: </b> @vMs.esi_other_param</p>
                }else{
                    <p><b class="report"> Other parameters if discriminant for the experiment: </b>NA</p>
                }



                <br/><h5>(b) MALDI</h5><br/>

                @if(vMs.plate_composition !=null){
                <p><b class="report"> Plate composition (or type): </b> @vMs.plate_composition</p>
                }else{
                <p><b class="report"> Plate composition (or type): </b>NA</p>
                }

                @if(vMs.matrix_composition !=null){
                <p><b class="report"> Matrix composition: </b> @vMs.matrix_composition</p>
                }else{
                <p><b class="report"> Matrix composition: </b>NA</p>
                }

                @if(vMs.deposition_technique !=null){
                <p><b class="report"> Deposition technique: </b> @vMs.deposition_technique</p>
                }else{
                <p><b class="report"> Deposition technique: </b>NA</p>
                }

                @if(vMs.maldi_voltages !=null){
                <p><b class="report"> Relevant voltages: </b> @vMs.maldi_voltages</p>
                }else{
                <p><b class="report"> Relevant voltages: </b> NA</p>
                }

                @if(vMs.maldi_prompt !=null){
                <p><b class="report"> Degree of prompt fragmentation evaluated: </b> @vMs.maldi_prompt</p>
                }else{
                <p><b class="report"> Degree of prompt fragmentation evaluated: </b>NA</p>
                }

                @if(vMs.psd_lid_summary !=null){
                <p><b class="report"> PSD (or LID/ISD) summary: </b> @vMs.psd_lid_summary</p>
                }else{
                <p><b class="report"> PSD (or LID/ISD) summary: </b> NA</p>
                }
                @if(vMs.delayed_extraction !=null){
                <p><b class="report"> Operation with or without delayed extraction: </b> @vMs.delayed_extraction</p>
                }else{
                <p><b class="report"> Operation with or without delayed extraction: </b>NA</p>
                }

                @if(vMs.laser_type !=null){
                <p><b class="report"> Laser type: </b> @vMs.laser_type</p>
                }else{
                <p><b class="report"> Laser type: </b>NA</p>
                }

                @if(vMs.laser_details !=null){
                <p><b class="report"> Other laser related parameters: </b> @vMs.laser_details</p>
                }else{
                <p><b class="report"> Other laser related parameters: </b>NA</p>
                }



                @if(vMs.url !=null){
                <p><b class="report"> url: </b> @vMs.url</p>
                }else{
                <p><b class="report"> url: </b> NA</p>
                }


                <br/><h5>3. Ion transfer optics</h5><br/>

                @if(vMs.hardware_options !=null){
                <p><b class="report">Hardware options: </b> @vMs.hardware_options</p>
                }else{
                <p><b class="report">Hardware options: </b>NA</p>
                }


                <br/><h5>3. Post-source componentry</h5><br/>

                <h5>Collision-Induced Dissociation - CID</h5><br/>


                @if(vMs.cid_gas_composition !=null){
                    <p><b class="report">CID. Gas composition: </b> @vMs.cid_gas_composition</p>
                }else{
                    <p><b class="report">CID. Gas composition: </b>NA</p>
                }


                @if(vMs.cid_gas_pressure !=null){
                    <p><b class="report">CID. Gas pressure: </b> @vMs.cid_gas_pressure</p>
                }else{
                    <p><b class="report">CID. Gas pressure: </b>NA</p>
                }


                @if(vMs.cid_collision_energy !=null){
                    <p><b class="report">CID. Collision energy: </b> @vMs.cid_collision_energy</p>
                }else{
                    <p><b class="report">CID. Collision energy: </b>NA</p>
                }



                <h5>Electron Transfer Dissociation - ETD</h5><br/>

                @if(vMs.etd_reagent_gas !=null){
                    <p><b class="report">ETD. Reagent gas: </b> @vMs.etd_reagent_gas</p>
                }else{
                    <p><b class="report">ETD. Reagent gas: </b>NA</p>
                }

                @if(vMs.etd_pressure !=null){
                <p><b class="report">ETD. Pressure: </b> @vMs.etd_pressure</p>
                }else{
                <p><b class="report">ETD. Pressure: </b>NA</p>
                }

                @if(vMs.etd_reaction_time !=null){
                <p><b class="report">ETD. Reaction time: </b> @vMs.etd_reaction_time</p>
                }else{
                <p><b class="report">ETD. Reaction time: </b>NA</p>
                }

                @if(vMs.etd_reagent_atoms !=null){
                <p><b class="report">ETD. Reagent atoms: </b> @vMs.etd_reagent_atoms</p>
                }else{
                <p><b class="report">ETD. Reagent atoms: </b>NA</p>
                }

                <h5>Electron Capture Dissociation - ECD</h5><br/>


                @if(vMs.ecd_emitter_type !=null){
                <p><b class="report">ECD. Emitter type: </b> @vMs.ecd_emitter_type</p>
                }else{
                <p><b class="report">ECD. Emitter type: </b>NA</p>
                }


                @if(vMs.ecd_voltage !=null){
                <p><b class="report">ECD. Voltage: </b> @vMs.ecd_voltage</p>
                }else{
                <p><b class="report">ECD. Voltage: </b>NA</p>
                }


                @if(vMs.ecd_current !=null){
                <p><b class="report">ECD. Current: </b> @vMs.ecd_current</p>
                }else{
                <p><b class="report">ECD. Current: </b>NA</p>
                }


                <h5>TOF drift tube</h5><br/>

                @if(vMs.reflectron_status !=null){
                <p><b class="report">TOF. Reflectron status: </b> @vMs.reflectron_status</p>
                }else{
                <p><b class="report">TOF. Reflectron status: </b>NA</p>
                }

                <h5>Ion Trap</h5><br/>

                @if(vMs.ms_achieved !=null){
                <p><b class="report"> Ion trap. Final MS stage achieved: </b> @vMs.ms_achieved</p>
                }else{
                <p><b class="report"> Ion trap. Final MS stage achieved: </b>NA</p>
                }


                <h5>Ion mobility</h5><br/>

                @if(vMs.gas !=null){
                <p><b class="report"> Ion mobility. Gas type : </b> @vMs.gas</p>
                }else{
                <p><b class="report"> Ion mobility. Gas type : </b> NA</p>
                }

                @if(vMs.pressure !=null){
                <p><b class="report"> Ion mobility. Pressure: </b> @vMs.pressure</p>
                }else{
                <p><b class="report"> Ion mobility. Pressure: </b> NA</p>
                }

                @if(vMs.instrument_parameters !=null){
                <p><b class="report"> Ion mobility. Instrument parameters: </b> @vMs.instrument_parameters</p>
                }else{
                <p><b class="report"> Ion mobility. Instrument parameters: </b>NA</p>
                }


                <h5>FT-ICR</h5><br/>

                @if(vMs.peak_selection !=null){
                    <p><b class="report"> Peak selection: </b> @vMs.peak_selection</p>
                }else{
                    <p><b class="report"> Peak selection: </b> NA</p>
                }

                @if(vMs.pulse !=null){
                <p><b class="report"> FT-ICR. Pulse: </b> @vMs.pulse</p>
                }else{
                <p><b class="report"> FT-ICR. Pulse: </b> NA</p>
                }

                @if(vMs.width !=null){
                <p><b class="report"> FT-ICR. Width: </b> @vMs.width</p>
                }else{
                <p><b class="report"> FT-ICR. Width: </b> NA</p>
                }

                @if(vMs.decay_time !=null){
                <p><b class="report"> FT-ICR. IR: Decay time: </b> @vMs.decay_time</p>
                }else{
                <p><b class="report"> FT-ICR. IR: Decay time: </b>NA</p>
                }

                @if(vMs.ir !=null){
                <p><b class="report"> FT-ICR. IR: </b> @vMs.ir</p>
                }else{
                <p><b class="report"> FT-ICR. IR: </b>NA</p>
                }

                @if(vMs.ft_other !=null){
                <p><b class="report"> FT-ICR. Other parameters: </b> @vMs.ft_other</p>
                }else{
                <p><b class="report"> FT-ICR. Other parameters: </b>NA</p>
                }

                <h5>Detectors</h5><br/>

                @if(vMs.detector_type !=null){
                <p><b class="report"> Detector type: </b> @vMs.detector_type</p>
                }else{
                <p><b class="report"> Detector type: </b>NA</p>
                }




            </div>
            <div class="span4 sidebar supporters">
                @views.html.mirageReport.reportSearchable(vSample, vLc, vMs, vSoft)
            </div>

            <div class="searchagain">
            <a href="@routes.HomeController.listReferences()" class='btn btn-primary pull-right'>View references</a>
            </div>
        </div>
    </div>
</div>

}

